body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	margin:0px;
	background-color:#FFFFFF;
}

 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
}

#masterTable {
	width: 603px;
	border:none;
}
#leftMenu {
	DISPLAY: none! important
}
#rightNav, #centralNav, #login, #footerLinks, #rightColumn, #breadcrumb, #dwnPDF {
	DISPLAY: none! important
}
#topNav, #Tab {
	DISPLAY: none! important
}

/*.disclaimer {
	font-size:10px;
	color:#666666;
}*/



