/* -----------------------------------
Site:Florida Power & Light Company, Inc.
CSS author: Web Services Team
Updated: 
Updated by: 
----------------------------------- */

/* General Styles */
.required.right { font-size:11px; }

/* Forms */
.formFieldset { margin:5px 0; }
ol.forms li { clear:both; padding:5px 0 8px; margin:0; }	/*  NOTE: added to fix spacing on web_scheduling  */
ol.forms .right { clear:none; float:left; width:322px; margin-left:3px; }

input.rndTextbox { border:none; height:27px; padding:0 5px; line-height:2; overflow:hidden; }
input.small { width:47px; background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxSm.gif") no-repeat; background-position:100% 0; }
input.smallmed { width:70px; background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxSmMd.gif") no-repeat; background-position:100% 0; }
input.medium { width:177px; background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxMd.gif") no-repeat; background-position:100% 0; }
input.large { width:308px; background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxLg.gif") no-repeat; background-position:100% 0; }
input.xlarge { width:427px; background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxXL.gif") no-repeat; background-position:100% 0; }

input.small.invalidField { background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxSm_red.gif") no-repeat; background-position:100% 0; }
input.smallmed.invalidField { background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxSmMd_red.gif") no-repeat; background-position:100% 0; }
input.medium.invalidField { background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxMd_red.gif") no-repeat; background-position:100% 0; }
input.large.invalidField { background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxLg_red.gif") no-repeat; background-position:100% 0; }
input.xlarge.invalidField { background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_textboxXL_red.gif") no-repeat; background-position:100% 0; }

textarea.commentBox { border:none; width:439px; height:62px; background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_commentBox.gif") no-repeat; /*padding:5px;*/ }
textarea.commentBox.large { width:740px; background:#f4f5f6 url("/fplcommon/wrapper/1024images/solar_commentBoxLg.gif") no-repeat;/* background-position:0px 0px;*/ }

/*.right .rndTextbox.large { margin-left:-15px; }
.right .rndTextbox#phone_one { margin-left:-15px; }*/

ol.alignRight li { float:right; margin-left:30px; width:430px; }
.formFieldset.blueBox ol.forms.alignRight.closeable label.formLabel { float:left; }
.formFieldset.blueBox ol.forms.alignRight.closeable input.rndTextbox { float:right; }

.lightbox-content .lightbox-form ol.alignRight li { float:right; margin-left:30px; width:430px; }
.lightbox-content .lightbox-form .formFieldset.blueBox ol.forms.alignRight.closeable label.formLabel { float:left; }
.lightbox-content .lightbox-form .formFieldset.blueBox ol.forms.alignRight.closeable input.rndTextbox { float:right; }

/*label.formLabel { display:inline; height:20px; }*/
label.blockLabel { display:block; height:20px; }

/* Buttons */
.button { margin-top:10px; }
.button.ltgray { float:left; }

/*.button.center { margin-left:280px; overflow:hidden; }*/
.button.center { float:left; margin-left:150px; }
.buttonNew.center { float:left; margin-left:280px; }
.button.center span, .buttonNew.center span { padding:5px 40px 0 40px; }
.button.centerGroup, .buttonNew.centerGroup { float:left; margin-left:5px; }
.button.centerGroup span, .buttonNew.centerGroup span { padding:5px 15px 0 15px; }
.button.rightGroup, .buttonNew.rightGroup { float:left; margin-left:5px; }
.button.rightGroup span, .buttonNew.rightGroup span { padding:5px 8px 0 8px; }
.button.wide, .buttonNew.wide { margin-left:335px; overflow:hidden; width:auto; }
.resEEForm #pvNext1 {margin-top:0px;}

.button.bigRight, .buttonNew.bigRight { display:inline-block; margin-left:280px; overflow:hidden; }
.button.bigRight span, .buttonNew.bigRight span { padding:5px 40px 0 40px; }

input.dispFieldConf { border:1px thin #fff; position:absolute; width:350px; left:300px; color:#4b4b4b; }
#manageResJob input.dispFieldConf { width:400px; left:350px; } /*370px*/
#manageResJobSWH input.dispFieldConf { width:400px; left:370px; }
input.dispFieldRight { border:1px thin #fff; position:absolute; right:0; color:#4b4b4b; text-align:right; margin-right:30px; width:330px; }

table { border-collapse:collapse; }

.blueContentNoTab { display:inline-block; width:678px; padding:10px 25px; border:1px solid #0090d3; }
