<cmignore>
@charset "utf-8";
/* CSS Document */
* {
margin:0;
padding:0;
}

#outerMostTable { vertical-align:top; }

#logInLogOut td{
background-color:#94b154;
text-align:center;
vertical-align:top;
font:Arial;
size:10px;
color:white;
font-weight:bold;
}

#logInOutForm td{
padding-top:3px;
text-align:left;
font:Arial;
font-size:11px;
color:white;
font-weight:bold;
}

#logInOutForm a:link,
#logInOutForm a:visited{
text-align:left;
font:Arial;
font-size:10px;
color:black;
}

#logInOutForm a:hover{
text-align:left;
font:Arial;
font-size:10px;
color:white;
}

#leftBuckets { vertical-align:top; }
/* Target IE6 */
/** html #leftBuckets { position:relative; top:81px; vertical-align:top; }*/
/* Target Firefox 2 
#leftBuckets, x:-moz-any-link, { position:absolute; top:81px; vertical-align:top; }*/
/* Target Firefox 3 
#leftBuckets, x:-moz-any-link, x:default { position:absolute; top:81px; vertical-align:top; }*/

#welcome { }
.leftNavContent { vertical-align:top; width:200px; background:url("/fplcommon/wrapper/1024images/1024_topGreyLine.gif") repeat-x; background-position:center top; height:7px; padding-top:15px; }
.centerContent { vertical-align:top; margin-left:0px; width:780px; background:url("/fplcommon/wrapper/1024images/1024_topGreyLine.gif") repeat-x; background-position:center top; height:7px; padding-top:15px; padding-left:10px; z-index:1; }



/*.indentedTDs{
background-color:#000000;
text-align:left;
margin-left:20px;
}*/

#outerMostTable .centerContent .tool_header2 {
margin-left : 10px;
font-size : 10pt;
font-weight : bold;
font-family : Arial, Helvetica, sans-serif;
color: Navy;
position: relative;
left:55px;
top:40px;
z-index : 4;
}

/*Code removed for application wrapper fix*/

#outerMostTable .centerContent table tbody tr td form table tbody tr td table tbody tr td { vertical-align:top; }

#outerMostTable .centerContent .topCapTDBackGround_sq {
background-image:url("/fplcommon/wrapper/images/sq_outline_tcBG.gif"); 
background-repeat:repeat-x;
}
* html #outerMostTable .centerContent .topCapTDBackGround_sq { padding:5px 0px 25px 0px; }

#outerMostTable .centerContent .topCapTDBackGround_gr {  
background-image:url("/fplcommon/wrapper/images/gr_outline_tcBG.gif"); 
background-repeat:repeat-x;
}
#outerMostTable .centerContent .botCapTDBG_gr {  
background-image:url("/fplcommon/wrapper/images/gr_outline_bcBG.gif"); 
background-repeat:repeat-x;
}
#outerMostTable .centerContent .botCapTDBG_P {  
background-image:url("/fplcommon/wrapper/images/P_outline_bcBG.gif"); 
background-repeat:repeat-x;
}
#outerMostTable .centerContent .topCapTDBackGround_gT {  
background-image:url("/fplcommon/wrapper/images/gT_outline_tcBG.gif"); 
background-repeat:repeat-x;
}
#outerMostTable .centerContent .topCapTDBG_solid {  
background-image:url("/fplcommon/wrapper/images/solid_outline_tcBG.gif"); 
background-repeat:repeat-x;
}
#outerMostTable .centerContent .botCapTDBG_solid {  
background-image:url("/fplcommon/wrapper/images/solid_outline_bcBG.gif"); 
background-repeat:repeat-x;
}
#outerMostTable .centerContent .topCapTDBackGround_P {
background-image:url("/fplcommon/wrapper/images/outline_tcBG.gif"); 
background-repeat:repeat-x;
}
#outerMostTable .centerContent .topCapTD_Lside {
border-left:1px solid;
border-left-color:#aec3d0;
border-top:1px solid;
border-top-color:#aec3d0;
height:100%;
width:100%;
font-size:12px;
}

#outerMostTable .centerContent .innerTextHeading {
font-size:12pt;
font-weight:bold;
float:left;
padding:2px;
}
#outerMostTable .centerContent .innerTextSub_blu {
font-size:12px;
font-weight:bold;
color:#003399;
float:left;
padding:2px;
}
#outerMostTable .centerContent .innerTextSub {
font-size:12px;
font-weight:bold;
float:left;
padding:2px;
}

#outerMostTable .centerContent .innerTextTitle {
font-size:12px;
font-weight:bold;
padding-left:8px;
padding-top:2px;
}
* html #outerMostTable .centerContent div.innerTextTitle { 
line-height:20px;
margin:0px 0px -2px 0px;	
}

#outerMostTable .centerContent #innerText {
margin:0px 0px 0px 0px;
font-size:12px;
padding-left:8px;
padding-bottom:1px;
vertical-align:top;
line-height:1.3;
}
#outerMostTable .centerContent #innerText a {text-decoration:none;}
#outerMostTable .centerContent #innerText a:hover {text-decoration:underline;}

#outerMostTable .centerContent #innerText ul {
margin:0px 0px 0px 0px;
font-weight:normal;
padding-left:20px;
position:relative;
list-style-type:none;
vertical-align:middle;
}
#outerMostTable .centerContent #innerText li {
font-weight:normal;
list-style-type:none;
vertical-align:middle;
}

#outerMostTable .centerContent .innerTextBold {
font-size:12px;
vertical-align:top;
font-weight:bold;
padding-top:5px;
padding-left:6px;
}

#outerMostTable .centerContent .innerTextBold ul {
margin:0px 0px 0px 0px;
font-weight:normal;
padding-left:10px;
padding-right:5px;
position:relative;
list-style-type:none;
}

#outerMostTable .centerContent .innerTextBold li{
font-weight:normal;
list-style-type:none;
}

#outerMostTable .centerContent .innerTextBold a {
font-weight:normal;
text-decoration:none;
padding-left:0px;
padding-right:5px;
}
#outerMostTable .centerContent .innerTextBold a:hover {text-decoration:underline;}

#outerMostTable .centerContent #innerText_Left {
margin:2px 0px 2px 0px;
font-size:12px;
padding-left:8px;
float:left;
}
* html #outerMostTable .centerContent div#innerText_Left { 
line-height:20px;
margin:0px 0px;		
}

#outerMostTable .centerContent #innerText_Right {
margin:2px 0px 2px 0px;
font-size:12px;
padding-left:8px;
float:right;
}
* html #outerMostTable .centerContent div#innerText_Right { 
line-height:20px;
margin:0px 0px;		
}

#outerMostTable .centerContent .messageInbox {
margin:2px 0px 2px 0px;
font-size:12px;
padding:8px;
}

#outerMostTable .centerContent .bottomPortalTD_solid {
border-left:1px solid;
border-left-color:#aec3d0;
border-right:1px solid;
border-right-color:#aec3d0;
background-color:#D7E1E8;
height:100%;
widows:100%;
font-size:12px;
}
#outerMostTable .centerContent .bottomPortalTD_solid p {
font-size:12px;
padding:0px 10px;
margin-bottom:5px;
}
#outerMostTable .centerContent .bottomPortalTD_solid a {text-decoration:underline;}
#outerMostTable .centerContent .bottomPortalTD_solid p a {text-decoration:underline;}

#outerMostTable .centerContent .bottomPortalTD_sides {
border-left:1px solid;
border-left-color:#aec3d0;
border-right:1px solid;
border-right-color:#aec3d0;
height:100%;
widows:100%;
font-size:12px; padding:0 3px;
}
#outerMostTable .centerContent .bottomPortalTD_sides p {
font-size:12px;
padding-left:10px;
margin-bottom:5px;
}
#outerMostTable .centerContent .bottomPortalTD_sides a {text-decoration:none;}
#outerMostTable .centerContent .bottomPortalTD_sides a:hover {text-decoration:underline;}

#outerMostTable .centerContent .bottomPortalTD_none {
height:100%;
padding-left:8px;
padding-top:5px;
font-size:small;
}

#outerMostTable .centerContent .bottomPortalTD_pad1 {
border-left:1px solid;
border-left-color:#aec3d0;
border-right:1px solid;
border-right-color:#aec3d0;
background-color:#FFFFFF;
height:100%;
font-size:12px;
}
#outerMostTable .centerContent .bottomPortalTD_pad1 input { margin-left:3px; }

#outerMostTable .centerContent .h_Line_2 {
background-image:url("/fplcommon/wrapper/images/h_line_2.gif");
background-position:bottom;
background-repeat:repeat-x;
}

#outerMostTable .centerContent .h_Line {
background-image:url("/fplcommon/wrapper/images/h_line.gif");
background-position:bottom;
background-repeat:repeat-x;
}
* html #outerMostTable .centerContent .h_Line {
line-height:20px;
vertical-align:text-top;
}

#outerMostTable .centerContent .v_line {
background-image:url("/fplcommon/wrapper/images/v_line.gif");
background-position:center;
background-repeat:repeat-y;
}

#outerMostTable .centerContent .hr_app {
background-image:url("/fplcommon/wrapper/images/h_line.gif");
background-repeat:repeat-x; background-position:0;
}

#outerMostTable .centerContent .button {
background-image:url("/fplcommon/wrapper/images/buttonFF.gif");
height:20px;
max-height:20px;
width:125px;
background-repeat:no-repeat;
position:relative;
font-size:12px;
text-align:center;
padding-top:2px;
z-index:1;
}
* html #outerMostTable .centerContent div.button { 
height: expression( this.Height > 20 ? "20px" : "auto" );
padding-top:2px;
padding-bottom:5px;
z-index:0;
}

#outerMostTable .centerContent .button_200 {
background-image:url("/fplcommon/wrapper/images/button_200.gif");
height:20px;
max-height:20px;
width:200px;
background-repeat:no-repeat;
position:relative;
font-size:12px;
text-align:center;
padding-top:2px;
}
* html #outerMostTable .centerContent div.button_200 { 
height: expression( this.Height > 20 ? "20px" : "auto" );
padding-top:2px;
padding-bottom:3px;
}
#outerMostTable .centerContent .button_200x40 {
background-image:url("/fplcommon/wrapper/images/button_200x40.gif");
height:40px;
max-height:20px;
width:200px;
background-repeat:no-repeat;
position:relative;
font-size:12px;
text-align:center;
padding-top:2px;
}
* html #outerMostTable .centerContent div.button_200x40 { 
height: expression( this.Height > 40 ? "40px" : "auto" );
padding-top:2px;
padding-bottom:5px;
}

#outerMostTable .centerContent .popshow {display:none}
#outerMostTable .centerContent .pophide {
display:inline; 
padding-left:0px;
padding-top:0px;
}
#outerMostTable .centerContent img.minus {src:/fplcommon/wrapper/images/arrowDown_Icon.gif;}
#outerMostTable .centerContent .hiddenText p {
margin:0px 0px 0px 8px;
font-size: small;
text-indent:25px;
}	
#outerMostTable .centerContent .link_expcol ,
#outerMostTable .centerContent .link_expcol a:link ,
#outerMostTable .centerContent .link_expcol a:visited {
font-family: Arial;
font-size:10pt;
text-decoration:none;
padding-left:4px;
}
* html #outerMostTable .centerContent .link_expcol ,
* html #outerMostTable .centerContent .link_expcol a:link ,
* html #outerMostTable .centerContent .link_expcol a:visited {
font-family: Arial;
font-size:10pt;
text-decoration:none;
padding-left:10px;
}
#outerMostTable .centerContent .link_expcol a:hover {
text-decoration:underline;
}

#outerMostTable .centerContent .textPad30L {padding-left:30px;}
#outerMostTable .centerContent *html .textPad30L {padding-left:20px; text-align:left;}

#textPad30L {padding-left:30px;}
*html #textPad30L {padding-left:20px; text-align:left;}

#outerMostTable .centerContent .error {
font-size:8pt;
color:#FF0000;
display:none;
}
#outerMostTable .centerContent .required {
color:#ff0000;
}

#outerMostTable .centerContent .buttons a, .buttons button{
display:block;
margin:0 7px 0 0;
background-color:#F5F5F5;
border:1px solid #DEDEDE;
border-top:1px solid #EEEEEE;
border-left:1px solid #EEEEEE;
font-family:Arial;
font-size:12px;
line-height:130%;
text-decoration:none;
font-weight:bold;
color:#565656;
cursor:pointer;
padding:5px 10px 6px 7px; 
}
#outerMostTable .centerContent .buttons button{
width:auto;
overflow:visible;
padding:4px 10px 3px 7px; /* IE6 */
}
#outerMostTable .centerContent .buttons button[type]{
padding:5px 10px 5px 7px; /* Firefox */
line-height:17px; /* Safari */
}
*:first-child+html #outerMostTable .centerContent .buttons button[type]{
padding:4px 10px 3px 7px; /* IE7 */
}
#outerMostTable .centerContent .buttons button img, .buttons a img{
margin:0 3px -3px 0 !important;
padding:0;
border:none;
width:16px;
height:16px;
}

/* STANDARD */
#outerMostTable .centerContent button:hover, .buttons a:hover{
background-color:#E0E0E0;
border:1px solid #D6D6D6;
color:#336699;
}
#outerMostTable .centerContent .buttons a:active{
background-color:#E0E0E0;
border:1px solid #D6D6D6;
color:#FFFFFF;
}

/* Big slidingDoor Buttons */
#outerMostTable .centerContent .button_B {
background-image:url("/fplcommon/wrapper/images/bigButton_Up.gif");
height:48px;
max-height:48px;
width:190px;
background-repeat:no-repeat;
position:relative;
font-size:12px;
text-align:center;
padding-top:7px;
}

/* begin styles for applications - POL and datepicker */

#outerMostTable .centerContent .activePayTodayTab{
cursor: default;
background: url("/fplcommon/wrapper/images/PayToday_ON.gif") top no-repeat;
background-position:top;
background-color: #404040;
}
#outerMostTable .centerContent .activeSchedPayTab{
cursor: default;
background: url("/fplcommon/wrapper/images/schedulePay_ON.gif") top no-repeat;
background-position:top;
background-color: #404040;
}
#outerMostTable .centerContent .disabledPayTodayTab{
cursor: default;
background: url("/fplcommon/wrapper/images/PayToday_OFF.gif") top no-repeat;
background-position:top;
background-color: #404040;
}
#outerMostTable .centerContent .disabledSchedPayTab{
cursor: default;
background: url("/fplcommon/wrapper/images/schedulePay_OFF.gif") top no-repeat;
background-position:top;
background-color: #404040;
}
#outerMostTable .centerContent .notEligibleForFuturePayment{
cursor: default;
background: url("/fplcommon/wrapper/images/schedulePay_NO.gif") top no-repeat;
background-position:top;
background-color: #404040;		
}

/* Main Style Sheet for jQuery UI date picker */

#datepicker_div, .datepicker_inline {font-family:Arial, Helvetica, sans-serif; /*font-size:14px;*/ font-size:12px; padding:0; margin:0; background:#ddd; width:185px;}
#datepicker_div {display:none; border:1px solid #777; /*z-index:9999; must have*/ z-index:500;}
.datepicker_inline {float:left; display:block; border:0;}
.datepicker_rtl {direction:rtl;}
.datepicker_dialog {padding:5px !important; border:4px ridge #ddd !important;}
button.datepicker_trigger {width:25px;}
img.datepicker_trigger {margin:2px; vertical-align:middle;}
.datepicker_prompt {float:left; padding:2px; background:#ddd; color:#000;}
* html .datepicker_prompt {width:185px;}
.datepicker_control, .datepicker_links, .datepicker_header, .datepicker {/*clear:both;*/ clear:close; float:left; width:100%; color:#ccc;}
.datepicker_control {background:#6699cc; /*background:#400; padding:2px 0px;*/}
.datepicker_links {background:#6699cc; /*background:#000; padding:2px 0px;*/}
.datepicker_control, .datepicker_links {font-weight:bold; font-size:80%; letter-spacing:1px;}
.datepicker_links label { /* disabled links */padding:2px 5px; color:#888;}
.datepicker_clear, .datepicker_prev {float:left; width:34%;}
.datepicker_rtl .datepicker_clear, .datepicker_rtl .datepicker_prev {float:right; text-align:right;}
.datepicker_current {float:left; width:30%; text-align:center;}
.datepicker_close, .datepicker_next {float:right; width:34%; text-align:right;}
.datepicker_rtl .datepicker_close, .datepicker_rtl .datepicker_next {float:left; text-align:left;}
.datepicker_header { /*padding:1px 0 3px; background:#333; height:1.3em;*/ background:#FFF; text-align:center; font-weight:bold;}
.datepicker_header select {/*background:#333; color:#fff; border:0px; font-weight:bold;*/ background:#fff; color:#333; border:0px; font-weight:normal;}
.datepicker {background:#ccc; text-align:center; font-size:100%;}
.datepicker a {display:block; width:100%;}
.datepicker_titleRow {background:#777;}
.datepicker_daysRow {background:#eee; color:#666;}
.datepicker_weekCol {background:#777; color:#ccc;}
.datepicker_daysCell {color:#000; border:1px solid #ddd;}
.datepicker_daysCell a{display:block;}
.datepicker_weekEndCell {background:#ddd;}
.datepicker_titleRow .datepicker_weekEndCell {background:#777;}
.datepicker_daysCellOver {background:#fff; border:1px solid #777;}
.datepicker_unselectable {color:#888;}
.datepicker_today {background:#fcc !important;}
.datepicker_currentDay {background:#999 !important;}
.datepicker_status {background:#ddd; width:100%; font-size:80%; text-align:center;}
/* ________ Datepicker Links _______
** Reset link properties and then override them with !important */
#datepicker_div a, .datepicker_inline a {cursor:pointer; margin:0; padding:0; background:none; color:#000;}
.datepicker_inline .datepicker_links a {padding:0 5px !important;}
.datepicker_control a, .datepicker_links a {padding:2px 5px !important; color:#eee !important;}
.datepicker_titleRow a {color:#eee !important;}
.datepicker_control a:hover {background:#fdd !important; color:#333 !important;}
.datepicker_links a:hover, .datepicker_titleRow a:hover {background:#ddd !important; color:#333 !important;}
/* ___________ MULTIPLE MONTHS _________*/
.datepicker_multi .datepicker {border:1px solid #777;}
.datepicker_oneMonth {float:left; width:185px;}
.datepicker_newRow {clear:left;}
/* ___________ IE6 IFRAME FIX ________ */
.datepicker_cover {display:none; /*sorry for IE5*/display/**/:block; /*sorry for IE5*/position:absolute; /*must have*/z-index:-1; /*must have*/filter:mask(); /*must have*/top:-4px; /*must have*/left:-4px; /*must have*/width:200px; /*must have*/height:200px; /*must have*/}
/* end styles for applications - POL and datepicker */



<!--CSS Only White Squoval-->
#whiteSquoval h1, #whiteSquoval h2, #whiteSquoval p {margin:0 10px; letter-spacing:1px;}
#whiteSquoval h1 {font-size:16px; color:#4b4b4b;}
#whiteSquoval h2 {font-size:14px;color:#06a; border:0;}
#whiteSquoval p {padding-bottom:0.5em;}
#whiteSquoval h2 {padding-top:0.5em;}
#whiteSquoval {background: transparent; margin:20px 1em;}
.whiteSqTop, .whiteSqBottom {display:block; background:transparent; font-size:1px;}
.wSq1, .wSq2, .wSq3, .wSq4 {display:block; overflow:hidden;}
.wSq1, .wSq2, .wSq3 {height:1px;}
.wSq2, .wSq3, .wSq4 {background:#fff; border-left:1px solid #ADC3D0; border-right:1px solid #ADC3D0;}
.wSq1 {margin:0 5px; background:#ADC3D0;}
.wSq2 {margin:0 3px; border-width:0 2px;}
.wSq3 {margin:0 2px;}
.wSq4 {height:2px; margin:0 1px;}
.whiteSquovalContent {display:block; background:#fff; border:0 solid #ADC3D0; border-width:0 1px;}
.whiteSquovalContent h3 {font-size:12px; font-weight:bold; padding-left:8px; padding-top:2px;}
.whiteSquovalContent p {font-size:12px;}
.whiteSquovalContent a, a:visited, { text-decoration:none; }
.whiteSquovalContent a:hover { color:#006AB6; text-decoration:underline; }
.whiteSquovalContent selected.a { color:#006AB6; }

<!--CSS Only Blue Squoval-->
#blueSquoval h1, #blueSquoval h2, #blueSquoval h3, #blueSquoval p {margin:0 10px; letter-spacing:1px;}
#blueSquoval h1 {font-size:16px; color:#4b4b4b;}
#blueSquoval h2 {font-size:14px;color:#4b4b4b; border:0;}
#blueSquoval h3 {font-size:12px;color:#4b4b4b; border:0;}
#blueSquoval p {padding-bottom:0.5em;}
#blueSquoval h2 {padding-top:0.5em;}
#blueSquoval {background: transparent; margin:0;}
.blueSqTop, .blueSqBottom {display:block; background:transparent; font-size:1px;}
.bSq1, .bSq2, .bSq3, .bSq4 {display:block; overflow:hidden;}
.bSq1, .bSq2, .bSq3 {height:1px;}
.bSq2, .bSq3, .bSq4 {background:#D7E1E8; border-left:1px solid #ADC3D0; border-right:1px solid #ADC3D0;}
.bSq1 {margin:0 5px; background:#ADC3D0;}
.bSq2 {margin:0 3px; border-width:0 2px;}
.bSq3 {margin:0 2px;}
.bSq4 {height:2px; margin:0 1px;}
.blueSquovalContent {display:block; background:#D7E1E8; border:0 solid #ADC3D0; border-width:0 1px;}
.blueSquovalContent h3 {font-size:12px; font-weight:bold; padding-left:8px; padding-top:2px;}
.blueSquovalContent p {font-size:12px;}
.blueSquovalContent a, a:visited, { text-decoration:none; }
.blueSquovalContent a:hover { color:#006AB6; text-decoration:underline; }
.blueSquovalContent selected.a { color:#006AB6; }

/* Container for the content of the Add Account Page
--------------------------------------------------------------------*/
#searchAccountType { margin-top:25px; }
/*End of Add Account Styles
--------------------------------------------------------------------*/


/* Styles for WebConnect application
--------------------------------------------------------------------*/
.WebConnect td p { font-size:12px; }
.wc_vertSpacer { height:0px; }
.wc_horizSpacer { width:30px; float:left; }
.wc_frameSpacer { padding:0px 30px 15px 30px; font:12px; }
.wc_frameSpacer p { margin-top:10px; font-size:12px; }
.wc_frameSpacer ul li { list-style-position:inside; padding-left:5px; font-size:12px; }
.wc_form { padding:3px 5px 3px 30px; }
.wc_buttonInfo { font-size:12px; text-align:right; float:right; vertical-align:text-top; margin:10px 50px 0 0; }
.wc_directions { font-size:12px; text-align:right; float:left; line-height:1.5; width:752px; vertical-align:text-top; margin:10px 30px 0 0; }
.wc_directions a, a:visited { text-decoration:none; }
.wc_directions a:hover { color:#006AB6; text-decoration:underline; }		
.wc_directions selected.a { color:#006AB6; }
.wc_button { float:right; margin:10px 50px 0 0; }
* html .wc_button { float:right; margin:10px 20px 0 0; }
.wc_dynamic { text-align:left; font-size:12px; color:red; padding:10px 10px 0px 0px; }
.wc_dynamic ul { font-size:12px; color:red; line-height:1.5; }
.wc_dynamic li { font-size:12px; color:red; line-height:1.5; }
.wc_topInfo { text-align:left; font-size:12px; padding:10px 0px 0px 0px; }
.wc_sides { border-left:1px solid; border-left-color:#aec3d0; border-right:1px solid; border-right-color:#aec3d0; font-size:12px; }
.wc_sides p { font-size:12px; padding-left:10px; margin-bottom:5px; }
.wc_sides a {text-decoration:none;}
.wc_sides a:hover {text-decoration:underline;}
.wc_resultTable { margin:0px 10px 0px 10px; padding:5px; }
.wc_resultTable p { margin:0; }
.wc_resultTable td { border:1px solid #ADC3D0; }
.wc_resultTable td p { padding:5px; }
.wc_table { padding:10px 0 20px 20px; line-height:1.8; }
.wc_table p { margin:0; }
.wc_table tr { line-height:1.5; }
.wc_table td p { padding:5px 0 0 0; }
#wc_interactTable { margin:0; padding:0; }
#wc_interactTable tr { vertical-align:middle; }
#wc_interactTable td { padding:10px; }
#wc_interactTable h3 { padding-left:0px; }
#wc_interactTable select { width:90px; font-size:10px; }
#wc_interactTable input { font-size:10px; }
#wc_interactTable .wc_validation p { font-size:12px; margin:0; padding:0; }
#wc_interactTable .wc_validation span input, select { position:relative; margin-left:8px; }
#wc_interactTable .wc_cityStZip p {  margin:0; padding:0; }
#wc_interactTable .wc_cityStZip span select { position:relative; width:140px; margin-left:8px; }
#wc_interactTable .wc_cityStZip span input { position:relative; margin-left:8px; }
.wc_leftBorder { border-left:1px solid #AEC3D0; }
.wc_moreInfo { font-size:12px; text-align:right; vertical-align:text-top; padding-right:5px; }
.wc_hotHelp { margin-left:10px; }
.wc_error { font-size:8pt; color:#FF0000; padding:0 0 0 10px; display:none; }
/* End of WebConnect application
--------------------------------------------------------------------*/

hr.greenLine {z-index:-100; margin:20px 0 20px 0;}
div.message {z-index:0;}
/*div.accountTableRowHeader {z-index:-100;}
div.accountTableRow {z-index:-100;}*/

#outerMostTable .centerContent table #searchAccountType { margin-top:50px; }

.topLeft {background-image:url('/fplcommon/wrapper/images/Btop_leftCor.gif'); background-position:left bottom; background-repeat:no-repeat; height:10px; width:10px;}
.topRight {background-image:url('/fplcommon/wrapper/images/Btop_rightCor.gif'); background-position:right bottom; background-repeat:no-repeat; height:10px; width:10px;}
.botRight {background-image:url('/fplcommon/wrapper/images/Bbot_rightCor.gif'); background-position:top right; background-repeat:no-repeat; height:10px; width:10px;}
.botLeft {background-image:url('/fplcommon/wrapper/images/Bbot_leftCor.gif'); background-position:top right; background-repeat:no-repeat; height:10px; width:10px;}
.topLineBg {background-image:url('/fplcommon/wrapper/images/Btop_line.gif'); background-repeat:repeat-x; background-position:bottom;}
.botLineBg {background-image:url('/fplcommon/wrapper/images/Bbot_line.gif'); background-repeat:repeat-x; height:10px;}
.leftLineBg {background-image:url('/fplcommon/wrapper/images/Bleft_line.gif'); background-repeat:repeat-y; width:10px;}
.rightLineBg {background-image:url('/fplcommon/wrapper/images/Bright_line.gif'); background-repeat:repeat-y; width:10px;}

/*Assist application*/
/*#AssistLogin table.form-login {background-color:#F7F7F7; border:1px solid #C9C9C9; width:185px;}
#AssistLogin table.form-login div {margin:10px 0 10px 0;}
#AssistLogin table.form-login h3 {background:transparent url('/fplcommon/wrapper/1024images/form-login-icon.gif') no-repeat scroll 165px center; color:#000000; font-size:11px; text-align:center;}
#AssistLogin table.form-login a {color:#000000;}*/

/*Billing & Payment Options application*/
#sqGR {width:780px; margin-top:10px;}
#sqGR .topCorner {width:11px; height:25px; float:left;}
#sqGR .top {width:758px; height:25px; float:left; background-image:url("https://apptest.fpl.com/fplcommon/wrapper/images/gr_outline_tcBG.gif"); background-repeat:repeat-x;}
#sqGR .middle {border-left:1px solid #aec3d0; border-right:1px solid #aec3d0; padding:0 15px;}
* html #sqGR .middle { border-right:0; background-image:url("https://apptest.fpl.com/fplcommon/wrapper/images/right_line.jpg"); background-repeat:repeat-y; background-position:right; padding-right:14px;}
*:first-child+html #sqGR .middle { border-right:0; background-image:url("https://apptest.fpl.com/fplcommon/wrapper/images/right_line.jpg"); background-repeat:repeat-y; background-position:right; top:0; padding-right:14px;}
* html #sqGR .middle {width:740px;}
#sqGR .middle .IE7h1 h1 {background-image:url("https://apptest.fpl.com/fplcommon/wrapper/images/right_line.jpg"); background-repeat:repeat-y; background-position:right; top:0; margin-right:-16px;}
#sqGR .middle, x:-moz-any-link, x:default {margin-bottom:-10px;}
#sqGR .bottomCorner {width:11px; height:16px; float:left;}
#sqGR .bottom {width:758px; height:16px; float:left; background-image:url("https://apptest.fpl.com/fplcommon/wrapper/images/gr_outline_bcBG.gif"); background-repeat:repeat-x;}
.bpo_content {width:750px; vertical-align:top; margin-top:10px;}
.bpo_content h3 {margin:0px;}
.bpo_content, x:-moz-any-link, x:default {margin-bottom:10px;}
.bpo_content td {vertical-align:top;}
.bpo_content td.stepImg {width:150px;}
table.javaContent {vertical-align:top; line-height:1.5em;}
table.javaContent p {margin:0;}
table.javaContent span {padding:0 8px 0 2px;}
table.javaContent .radio {padding:0 0 0 13px; width:20%;}
table.javaContent .offerProgramsRadio {padding:0 0 0 13px; width:35%;}
table.javaContent .buttonTop {vertical-align:text-top; padding-top:5px;}
table.javaContent b a {font-size:10px; vertical-align:middle;}
table.javaContent #checkPop {padding:5px 0 0 0;}
table.javaContent #checkPop a {padding:0 0 0 10px;}
table.javaContent #bankInfo td {border:1px solid #ccc; font-size:smaller; padding:0 0 0 5px;}
p.eligible {font-weight:bold; color:#339933;}
p.notEligible {font-weight:bold; color:#FF0000;}
p.allEnrolled {font-weight:bold; font-style:italic; color:#339933;}
p.allIneligible {font-weight:bold; font-style:italic; color:#FF0000;}
</cmignore>
