@charset "utf-8";
/* CSS Document */

#MultiConnect { margin:0 0 0 5px; padding:0; }
p { font-size:10pt; margin:4px 0; }
input { font-size:12px; }
select { font-size:12px; }
input.edit { font-size:12px; background-color:#FFFF99; }
select.edit { font-size:12px; background-color:#FFFF99; }
input.disabled {}

/* individual element styles for multiconnect begin with MC_  */
#MC_welcomeMessage { margin:0 0 10px 0; }
#MC_welcomeMessage a.emailUpdate, #MC_welcomeMessage p.pad10 { padding-left:10px; }

/* Controls MC tab actions */
#MultiConnect .tab_hover { color:#0066CC; cursor:pointer; width:96px; height:25px; background-image:url("https://apptest.fpl.com/fplcommon/wrapper/1024images/MCtab_active.gif"); border:0px; text-align:center; font-family:Arial; font-size:14px; font-weight:bold; }
#MultiConnect .tab { color:#003366; cursor:pointer; width:90px; height:25px; background-image:url("https://apptest.fpl.com/fplcommon/wrapper/1024images/MCtab_off.gif"); border:0px; text-align:center; font-family:Arial; font-size:14px; font-weight:bold; }

div.tabbedBody{padding-bottom: 5px;width:90%}
/* Draws grey lines around MC customer entry forms */
.MC_tabBody { padding:10px; border-right:1px solid #ACACAC; border-bottom:1px solid #ACACAC; border-left:1px solid #ACACAC; }

/* Form element positioning within form table */
#MC_enterAddress { float:left; margin-left:8px; width:280px; }  /* width of 280 causes the address input field to accept 40 visible characters */
//#MC_enterMeter, #hotHelp, #aptUnitSte, #MC_state, #MC_zipInput, #MC_calendar, #MC_date { float:left; margin-left:8px; }
#MC_apt { float:left; margin-left:25px; }
//#MC_zip, #MC_addToList { float:left; margin-left:50px; }
//#MC_clear { float:left; margin-left:210px; }
#MC_recent, #MC_locate { margin-left:100px; }
#MC_clearList { margin:4px 0; }
#MC_reviewApprove { margin:4px 0 4px 25px; }
#MC_optionalItem { padding:0 5px; border:1px solid #ACACAC; }
select{margin-left: -0px;}
#MC_comments { width:780px; padding:5px; color:#4B4B4B; }
#MC_custEmailData { color:#4B4B4B; }
.aligned
{
	z-index:10;
	width: 8em;
	font-size: 10pt;
	float: left;
	text-align: left;
	margin-right:.5em;
	display: block
}
#MC_revise { margin:4px 0; }
#MC_submit { margin:4px 0 4px 25px; }
#MC_print { margin:5px 15px 10px 0; width:75px; vertical-align:middle; }
#MC_printMessages { margin:5px 15px 10px 0; width:150px; vertical-align:middle; }

#addToID_radio { text-align:left; }
#addToID_radio input { margin:0 10px; }

#MC_tableTitle { border:1.5px solid #333333; line-height:25px; height:25px; }
#MC_tableTitle p.bold { font-weight:bold; }
#MC_table p {   }
tr.serviceAddress td { border-bottom:1px dotted #333333; text-transform:uppercase; vertical-align:top; }
tr.serviceAddress.locked td { background-color:#CCCCCC; border-bottom:1px dotted #000000; text-transform:uppercase; vertical-align:top; }
tr.serviceAddress.edit td { background-color:#FFFFFF; border-bottom:1px dotted #000000; text-transform:uppercase; vertical-align:top; }
#MC_table p.left { font-size:11px; margin:4px 20px; text-align:left; }
#MC_table p.center { font-size:11px; margin:4px 5px; text-align:center; }
#MC_table a.lineEdit { padding-right:10px; }
#MC_table a.lineRemove { padding-left:10px; }
#MC_table span.left { float:left; padding-left:20px; }
#MC_table span.right { float:right; padding-right:30px; }

#MC_table p#alert { text-align:right; color:#FF0000; }
#alertMessage { color:#FF0000; font-size:10px; }

/* Displays Service Address Table within scrollable area */
#addressTable { overflow:scroll;overflow-x: hidden; border-left:solid thin #ACACAC;width:780px; height:155px; border-bottom:2px solid #ACACAC; }
#addressTableReview { overflow:scroll; width:780px; height:200px; border-bottom:2px solid #ACACAC; }

/* SB_ indicates shadowbow styles  */
#SB_form { padding:20px; }
#SB_form ul li { list-style-position:outside; margin-left:15px; }
#SB_form input { margin-right:3px; }
#SB_form #pad30, #pad30 { margin-left:30px; }
.MC_formTitle { font-weight:bold; border-top:1px solid #000000; padding-top:5px; }

.MC_reviewLine { width:760px; }
.MC_reviewLine p { line-height:20px; margin:5px 0; vertical-align:middle; }
.MC_reviewLine #col_1 { float:left; width:40px; }
.MC_reviewLine #col_2 { float:left; width:500px; }
.MC_reviewLine #col_2 a { padding-left:5px; text-decoration:none; }
.MC_reviewLine #col_2 input.noLine { float:left; width:365px; padding-top:3px; background:none; border:none; outline:none; }
.MC_reviewLine #col_3 { float:left; width:110px; }
.MC_reviewLine #col_4 { float:left; width:110px; }
.MC_reviewLine #col_4 .depositL { float:left; padding-left:15px; }
.MC_reviewLine #col_4 .depositR { float:right; padding-right:15px; }
.MC_reviewLine .error { color:red; text-transform:none; text-align:right; margin:0 15px 0 0; height:15px; }
.MC_reviewLine .error p { font-size:8px; }

.MC_confirmLine { width:760px; }
.MC_confirmLine p { line-height:20px; margin:5px 0; vertical-align:middle; }
.MC_confirmLine #col_1 { float:left; width:40px; text-align:center; }
.MC_confirmLine #col_1 p { font-weight:bold; color:#FFFFFF; }
.MC_confirmLine #col_2 { float:left; width:300px; text-align:center; }
.MC_confirmLine #col_2 a { padding-left:5px; text-decoration:none; }
.MC_confirmLine #col_2 input.noLine { float:left; width:180px; padding:3px 0 0 10px; background:none; border:none; outline:none; }
.MC_confirmLine #col_A { float:left; width:200px; text-align:center; }
.MC_confirmLine #col_3 { float:left; width:110px; text-align:center; }
.MC_confirmLine #col_4 { float:left; width:110px; }
.MC_confirmLine #col_4 .depositL { float:left; padding-left:15px; }
.MC_confirmLine #col_4 .depositR { float:right; padding-right:15px; }
.MC_confirmLine .error { float:left; color:red; text-transform:none; margin:-5px 0px 5px 50px; height:15px; }
.MC_confirmLine .error p { font-size:8px; }
ul.noBullets {
	z-index:10;
	list-style:none;
	margin:0;
	padding:0;
}
li.noBullets {
	padding:1px;
}
iframe.recentAddress{
	z-index: 99;
	display:none;
	margin-top: -5px;
	margin-left: 115px;
	background: white;
	position:absolute;
	width:223px;
	border-left:1px solid #ACACAC;
	border-bottom:1px solid #ACACAC;
	border-right:1px solid #ACACAC;}
div.recentAddress{
	z-index: 99;
	display:none;
	margin-top: -6px;
	margin-left: 116px;
	background: white;
	position:absolute;
	width:219px;}
ul.addressList li{
	list-style: none;
	border-bottom:1px dotted #333333
}
ul.addressList a:hover
{
	color: white;
	background-color: #ccc;
	cursor:pointer;
}

