<cmignore>
@charset "utf-8";
/* CSS Document */
/* 1024_nav Styles
--------------------------------------------------------------------*/

.topBanner { margin:0; padding:0; width:780px; }
* html .topBanner { margin:0; padding:0; width:790px; }
/**:first-child+html .topBanner { margin:0; padding:0; width:790px; }*/
.topBanner td { vertical-align:top; z-index:990; }
.topBanner #topBannerLinks { margin:5px 15px 0 0; }
*:first-child+html .topBanner #topBannerLinks { margin:5px 15px 0 0; }
.topBanner #topBannerLinks a { padding:0px 4px 0px 4px; vertical-align:text-top; }
* html .topBanner #topBannerLinks a { padding:0px 2px 0px 2px; vertical-align:text-top; }
*:first-child+html .topBanner #topBannerLinks a { padding:0 2px 0 2px; vertical-align:text-top; }
.topBanner #topBannerLinks img { vertical-align:text-top; padding-right:5px; }
.topBanner a { font-family:Verdana; font-size:11px; color:#4B4B4B; text-decoration:none; vertical-align:top; border:0 solid; }
.topBanner a:hover { color:#006AB6; text-decoration:underline; }
.topBanner #select { padding:0px 2px 0px 8px; font:Verdana; font-size:10px; color:#4B4B4B; width:175px; }
.topBanner #searchField { font:Verdana; font-size:11px; color:#4B4B4B; width:100px; }
.topBanner #searchButton { padding:0px 2px 0px 0px; }

#bannerInteract { vertical-align:text-top; }

/* BEGIN Doing Business with FPL drop menu */
#doingBusFPL .doingBusDrop { position:relative; width:177px; padding-top:0px; z-index:990; }
.doingBusDrop img { border:none; }
.doingBusDrop { font:normal 10px Verdana; }
.doingBusDrop ul { margin:0pt; padding:0pt; position:relative; z-index:500; list-style-type:none; width:177px; }
.doingBusDrop li { float:left; }
.doingBusDrop li.sub { background:transparent; }
.doingBusDrop table { position:absolute; border-collapse:collapse; top:0px; left:0px; z-index:100; font-size:10px; margin-top:-1px; }
.doingBusDrop a,
.doingBusDrop a:visited { border:0 none; display:block; text-decoration:none; height:18px; line-height:23px; width:177px; color:#4B4B4B; font-weight:normal; font-style:normal; font-variant:normal; text-transform:none; font:normal 10px Verdana; margin-left:3px; padding-left:7px; }
.doingBusDrop li:hover { position:relative; }
.doingBusDrop a:active, .doingBusDrop a:focus { color:#4B4B4B; font-weight:normal; font-style:normal; font-variant:normal; text-decoration:none; text-transform:none; }
.doingBusDrop li:hover > a { color:#006AB6; font-weight:normal; font-style:normal; font-variant:normal; text-decoration:none; text-transform:none; }
.doingBusDrop li ul.doBusList { visibility:hidden; position:absolute; top:19px; left:-3px; }
* html .doingBusDrop li ul.doBusList { visibility:hidden; position:absolute; top:20px; left:-3px; }
.doingBusDrop li:hover > ul { visibility:visible; }
.doingBusDrop ul a:hover ul ul { visibility:hidden; }
.doingBusDrop ul a:hover ul a:hover ul ul { visibility:hidden; }
.doingBusDrop ul a:hover ul a:hover ul a:hover ul ul { visibility:hidden; }
.doingBusDrop ul a:hover ul { visibility:visible; }
.doingBusDrop .clearfix { width:177px; padding:0; margin:0; }
.doingBusDrop .toplevel { border-bottom:0px; }
.doingBusDrop a#doBus { margin:0px; background:url("/fplcommon/wrapper/1024images/DoingBusinessTitle.gif") no-repeat left top; height:23px; }
.doingBusDrop #doBus:hover { background-position:0px -23px; padding:0px; }
.doingBusDrop #doBus.selected a { background-position:0px -23px; padding:0px; }
.doingBusDrop #doBus.hover a { background-position:0px -23px; padding:0px; }
.doingBusDrop a.first-child { margin-top:0px; padding-top:5px; background:url("/fplcommon/wrapper/1024images/DoingBusinessMenu_top.gif") no-repeat left top; }
.doingBusDrop a.child { margin-top:0px; background:url("/fplcommon/wrapper/1024images/DoingBusinessMenu_middle.gif") no-repeat left top; }
.doingBusDrop a.last-child { margin-top:0px; background:url("/fplcommon/wrapper/1024images/DoingBusinessMenu_bottom.gif") no-repeat left bottom; }
/* END Doing Business menu */

/* BEGIN XBrowser search suggestion */
input.dropdown {  }
div.autocomplete_holder { position:absolute; visibility:hidden; display:none; background-color:#ffffff; margin:-11px 0 0 2px; -moz-box-sizing:border-box; }
body:first-of-type div.autocomplete_holder { margin:-6px 0 0 0px; }
* html div.autocomplete_holder { margin:-5px 0 0 0px; }
*:first-child+html div.autocomplete_holder { margin:-6px 0 0 0px; }
div.autocomplete_holder,  x:-moz-any-link, x:default { margin:-10px 0 0 0px; }

div.autocomplete_firstborder { width:135px; border-width:1px; border-style:solid; border-color:#cccccc; padding:0px; -moz-box-sizing:border-box; }
div.autocomplete_secondborder { border-style:none; padding-left:2px; -moz-box-sizing:border-box; }
ul.autocomplete { width:128px; height:95px; overflow-y:auto; overflow:hidden; font:menu; margin:0px; margin-left:0px; padding-left:0px; text-indent:0px; list-style-type:none; vertical-align:middle; background-repeat:no-repeat; -moz-box-sizing:border-box; }
ul.autocomplete li a, ul.autocomplete li a:hover,
ul.autocomplete li a.selected, ul.autocomplete li a:hover.selected { display:block; width:150px; padding:2px; text-decoration:none; color:#4B4B4B; border:1px solid #fff; -moz-box-sizing:border-box; margin-left:-14px; voice-family:"\"}\""; voice-family:inherit; margin-left:0px; }
ul.autocomplete li { padding:0px; padding-left:0px; background-position:2px 0px; background-repeat:no-repeat; line-height:13px; vertical-align:top; margin:0px; -moz-box-sizing:border-box; }
ul.autocomplete li a:hover { color:highlighttext; background-color:highlight; border-color:#e0e0e0; }
ul.autocomplete li a.selected { border:1px solid #333333; color:white; background-color:#0066CC; background-position:center right; background-repeat:no-repeat; }
ul.autocomplete li a:hover.selected { border:1px solid #333333; color:white; background-color:#0066CC; background-image:none; }
.searchXB { width:175px; width/*\**/:170\9; height:25px; float:right; background:url("/fplcommon/wrapper/1024images/search_border.gif") no-repeat top right; padding-top:0px; }
.searchXB,  x:-moz-any-link, x:default { padding-top:5px; }
.searchInputXB { width:130px; width/*\**/:125\9; height:25px; * height:18px; background:none; border:none; color:#4B4B4B; margin:-7px 0 0 20px; font-size:11px; outline:none; vertical-align:text-top; }
body:first-of-type .searchInputXB { height:25px; margin:-12px 0 0 20px; }

/* PrettySearch */
.searchPS { width:159px; height:22px; background:url("/fplcommon/wrapper/1024images/search_border_s.gif"); background-repeat:no-repeat; background-position:0px 0px; * background-position:0px 1px; }
.searchPS_s { width:159px; height:22px; background:url("/fplcommon/wrapper/1024images/search_border_s.gif"); background-repeat:no-repeat; background-position:0px -22px; }

/* Search Page */
.searchPage { width:159px; height:22px; background:url("/fplcommon/wrapper/1024images/search_border_s.gif"); background-repeat:no-repeat; background-position:0px 0px; * background-position:0px 1px; margin-left:10px; }
.searchPage_s { width:159px; height:22px; background:url("/fplcommon/wrapper/1024images/search_border_s.gif"); background-repeat:no-repeat; background-position:0px -22px; margin-left:10px; }

/*All Modern Browsers*/
#prettyField { font-family:Arial; font-size:8pt; }
.inputboxPSearch { width:130px; height:22px; background:none; background-position:0px 0px; padding:3px 6px 0 6px; border:none; outline:none; font-size:11px; color:#4B4B4B; }
/*IE6*/
* html .inputboxPSearch { width:130px; height:18px; background:none; background-position:0px 0px; padding:3px 6px 0 6px; border:none; outline:none; font-size:11px; color:#4B4B4B; }
/*IE7*/
*:first-child+html .inputboxPSearch { width:130px; height:18px; background:none; background-position:0px 0px; padding:3px 6px 0 6px; border:none; outline:none; font-size:11px; color:#4B4B4B; }
/*FireFox*/
.inputboxPSearch,  x:-moz-any-link, x:default { width:130px; height:22px; background:none; background-position:0px 0px; padding:4px 6px 0 6px; border:none; outline:none; font-size:11px; color:#4B4B4B; }
/*Safari & Opera*/
*|html[xmlns*=""] .inputboxPSearch { width:130px; height:22px; background:none; background-position:0px 0px; margin-top:-1px; padding:1px 6px 0 6px; border:none; outline:none; font-size:11px; color:#4B4B4B; }
/*Safari
html[xmlns*=""]:root .inputboxPSearch { width:130px; height:22px; background:none; background-position:0px 0px; padding:0px 6px 0 6px; border:none; outline:none; font-size:11px; color:#4B4B4B; }*/
#PSbutton { width:15px; margin:-20px 0 0 138px; }
#outerMost .topBanner #sPageButton { width:15px; margin:-20px 0 0 150px; }

/* SpryAutoSuggest.css - version 0.2 - Spry Pre-Release 1.6.1 */
/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */
/*.searchContainer{ position:absolute; width:160px; border:0; z-index:1512; }
.hideSuggestClass { position:absolute; float:right; border:1px solid #acacac; background-color:white; height:100%; overflow:visible; display:none; width:200px; margin:0px; padding:3px; cursor:pointer; z-index:1511; }
.showSuggestClass .hideSuggestClass { display:block !important; margin:5px; *margin:3px; *float:left; z-index:1510; }
.showSuggestClass .hoverSuggestClass { background-color:#DDDDDD !important; z-index:1510; }
.showSuggestClass .hoverSuggestClass a { color:#0033FF; z-index:1510; }
.iframeSuggest { position:absolute; z-index:1510; filter:alpha(opacity:0.1); }*/
/* sprySearch */
/*.sprySearch { width:159px; height:22px; background:url("/fplcommon/wrapper/1024images/search_border_s.gif"); background-repeat:no-repeat; background-position:0px 0px; }
.sprySearch_s { width:159px; height:22px; background:url("/fplcommon/wrapper/1024images/search_border_s.gif"); background-repeat:no-repeat; background-position:0px -22px; }
#spryField { font-family:Arial; font-size:8pt; }
.inputboxSprySearch { width:130px; height:22px; background:none; background-position:0px 0px; padding:3px 6px 0 6px; border:none; outline:none; font-size:11px; color:#4B4B4B; }
#spryButton { width:15px; margin:-20px 0 0 138px; }
* html .sprySearch, *html .sprySearch_s, *html .inputboxSprySearch { height:17px; }*/
/* END sprySearch */

.topWelcome { margin:0; padding:0; width:400px; font:Verdana; font-size:11px; color:#4B4B4B; text-align:right; }
.topWelcome a { font-family:Verdana; font-size:11px; color:#4B4B4B; text-decoration:underline; border:0 solid;}
.topWelcome a:hover { color:#006AB6; text-decoration:underline; }

#topLogo { float:left; }

#Wrapper { width:980px; margin:2px 0px; padding-bottom:0px; /*float:left;*/ }

/* slightly enhanced, universal clearfix hack */
.clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.clearfix { display:inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* close commented backslash hack */

/* Top Navigation */
#TopNav { /*position:relative;*/ margin:0; padding:0px 0px 0px 20px; z-index:800; }
* html #TopNav { /*position:relative;*/ margin:0; padding:0px 0px 0px 50px; z-index:800; }
*:first-child+html #TopNav { /*position:relative;*/ margin:0; padding:0px 0px 0px 20px; z-index:800; }

#TopNav ul { list-style-type:none; list-style-position:outside; font-size:10px; height:30px; line-height:30px; background:url("/fplcommon/wrapper/1024images/1024_bgNav_clear.gif") repeat-x 0 100%; margin-left:0px; }
#TopNav ul li { float:left; display:list-item; position:relative; margin-left:-10px; }
#TopNav ul li a.hasSub { height:30px; float:left; display:inline; color:#4B4B4B; text-decoration:none; background-repeat:no-repeat; background-position:10px -5px; text-indent:-5000px; overflow:hidden; }
#TopNav ul li a.hasSub:hover { color:#006AB6; }
#TopNav ul li.selected a.hasSub { color:#006AB6; background-position:10px -81px; } /*shifts bg tab image onMouseOver*/
#TopNav ul li.hover a.hasSub { background-position:10px -43px; } /*shifts bg tab image onMouseOver*/
#TopNav ul li.hoverSub { background:url("/fplcommon/wrapper/1024images/1024_bgNav.gif") repeat-x 0 100%; }
#TopNav ul li.hoverSub a.hasSub { background-position:10px -43px; }
#TopNav ul li a:link {font-size:10px;}
#TopNav a:link {font-size:10px;}
#TopNav ul li.li1 a { width:112px; background-image:url("/fplcommon/wrapper/1024images/li1_1024.gif"); }/* My Home */
#TopNav ul li.li2 a { width:134px; background-image:url("/fplcommon/wrapper/1024images/li2_1024.gif"); }/* My Business */
#TopNav ul li.li3 a { width:135px; background-image:url("/fplcommon/wrapper/1024images/li3_1024.gif"); }/* Environment */
#TopNav ul li.li4 a { width:126px; background-image:url("/fplcommon/wrapper/1024images/li4_1024.gif"); }/* Community */
#TopNav ul li.li5 a { width:140px; background-image:url("/fplcommon/wrapper/1024images/li5_1024.gif"); }/* About Energy */
#TopNav ul li.li6 a { width:120px; background-image:url("/fplcommon/wrapper/1024images/li6_1024.gif"); }/* About FPL */

#TopNav ul li a.noTab { height:auto; width:auto; display:list-item; color:#4B4B4B; text-decoration:none; background:none; /*text-indent:0px;*/ }
#TopNav ul li a.noTab:hover { color:#006AB6; }
#TopNav ul li.selected a.noTab { color:#006AB6; background:none; }
#TopNav ul li.hover a.noTab { background:none; }
#TopNav ul li.hoverSub a.noTab { background:none; }

/* Navigation ---------------------------------> Dropdowns opening to RIGHT of tab */
#TopNav ul li div.subnav { position:absolute; top:30px; left:0; display:none; padding:10px 0px 10px 0px; margin-left:10px; overflow:hidden; border:1px solid #ACACAC; border-top:0px; }
* html #TopNav ul li div.subnav { padding:10px 0px 10px 0px; }
#TopNav ul li.hoverSub div.subnav { display:block; }
#TopNav ul li div.subnav div.subnavImg#li1 { position:absolute; left:-40px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goRw.gif"); }
#TopNav ul li div.subnav div.subnavImg#li3 { position:absolute; left:-17px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goRw.gif"); }
#TopNav ul li div.subnav div.subnavImg#li4 { position:absolute; left:-26px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goRw.gif"); }	
#TopNav ul li div.subnav div.contentWrapper { position:relative; }
#TopNav ul li div.subnav div.content { padding:0px; position:relative; text-align:left; }
#TopNav ul li div.subnav div.col { float:left; margin:0px 0px 0px 0px; padding:0px 6px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/dotLine_v.gif"); height:132px; background-repeat:no-repeat; background-position:right; }
* html #TopNav ul li div.subnav div.col { padding:0px 6px 0px 5px; }
#TopNav ul li div.subnav div.col.last { margin:0px 0px 0px 0px; padding:0px 2px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }
#TopNav ul li div.subnav div.col.sep { margin:0px 0px 0px 0px; padding:0px 5px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }

/*target IE7 for top nav height*/
*:first-child+html #TopNav ul li div.subnav div.col { float:left; margin:0px 0px 0px 0px; padding:0px 6px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/dotLine_v.gif"); height:130px; background-repeat:no-repeat; background-position:right; }
*:first-child+html #TopNav ul li div.subnav div.col.last { margin:0px 0px 0px 0px; padding:0px 2px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }
*:first-child+html #TopNav ul li div.subnav div.col.sep { margin:0px 0px 0px 0px; padding:0px 5px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }
/*target IE7 for top nav height*/

#TopNav ul li div h3 { font-size:12px; color:#4B4B4B; font-weight:bold; margin:-5px 0px 5px 0px; }
#TopNav ul li div h3.doubleLine { margin-top:2px; line-height:10pt; }
#TopNav ul li div ul { float:left; border-top:0; font-size:12px; height:auto; background:none; padding-left:0px; margin-bottom:0px; }
* html #TopNav ul li div h3 { font-size:12px; color:#4B4B4B; font-weight:bold; margin:-5px 0px 5px 0px; padding:0px; }
* html #TopNav ul li div h3.doubleLine { margin-top:3px; line-height:10pt; }
* html #TopNav ul li div ul { float:left; border-top:0; font-size:12px; height:auto; background:none; padding-left:0px; margin-bottom:-8px; }

#TopNav ul li div ul li { float:none; line-height:1.15em; margin-left:0px; margin-bottom:3px; }
* html #TopNav ul li div ul li { float:none; line-height:10px; margin-left:0px; margin-top:0px; border:1px solid #ffffff; }
#TopNav ul li div ul li a,
#TopNav ul li.selected div ul li a,
#TopNav ul li.hoverSub div ul li a { display:block; height:auto; width:auto; float:none; color:#4B4B4B; padding:0px 0px 0px 0px; background:url("/fplcommon/wrapper/1024images/transparent.gif") no-repeat 0px 0px; text-indent:0px; overflow:hidden; border:0px; }
#TopNav ul li div ul li a:hover,
#TopNav ul li.selected div ul li a:hover,
#TopNav ul li.selected div ul li.selected a { color:#006AB6; background:url("/fplcommon/wrapper/1024images/transparent.gif") no-repeat 0px 0px; }

/* Navigation --------------------------> Dropdowns opening to MIDDLE of tab */
#TopNav ul li div.Msubnav { position:absolute; top:30px; left:0; display:none; padding:10px 0px 10px 0px; margin-left:-91px; overflow:hidden; border:1px solid #ACACAC; border-top:0px; }
* html #TopNav ul li div.Msubnav { padding:10px 0px 10px 0px; }
#TopNav ul li.hoverSub div.Msubnav { display:block; }
#TopNav ul li div.Msubnav div.MsubnavImg#li2 { position:absolute; left:-100px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goRMw.gif"); }
#TopNav ul li div.Msubnav div.contentWrapper { position:relative; }
#TopNav ul li div.Msubnav div.content { padding:0px; position:relative; text-align:left; }
#TopNav ul li div.Msubnav div.col { float:left; margin:0px 0px 0px 0px; padding:0px 6px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/dotLine_v.gif"); height:132px; background-repeat:no-repeat; background-position:right; }
* html #TopNav ul li div.Msubnav div.col { padding:0px 6px 0px 5px; }

#TopNav ul li div.Msubnav div.col.last { margin:0px 0px 0px 0px; padding:0px 2px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }

*:first-child+html #TopNav ul li div.Msubnav div.col { float:left; margin:0px 0px 0px 0px; padding:0px 6px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/dotLine_v.gif"); height:130px; background-repeat:no-repeat; background-position:right; }
*:first-child+html #TopNav ul li div.Msubnav div.col.last { margin:0px 0px 0px 0px; padding:0px 2px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }

/* Navigation --------------------------> Dropdowns opening to LEFT of tab */
#TopNav ul li div.Rsubnav { position:absolute; top:30px; right:0px; display:none; padding:10px 0px 10px 0px; margin-right:0px; overflow:hidden; border:1px solid #ACACAC; border-top:0px; }
* html #TopNav ul li div.Rsubnav { padding:10px 0px 10px 0px; }
#TopNav ul li.hoverSub div.Rsubnav { display:block; }

#TopNav ul li div.Rsubnav div.RsubnavImg#li5 { position:absolute; right:-12px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goLw.gif"); }
*:first-child+html #TopNav ul li div.Rsubnav div.RsubnavImg#li5 { position:absolute; right:-12px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goLw.gif"); }
* html #TopNav ul li div.Rsubnav div.RsubnavImg#li5 { position:absolute; right:-13px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goLw.gif"); }

#TopNav ul li div.Rsubnav div.contentWrapper { position:relative; }
#TopNav ul li div.Rsubnav div.content { padding:0px; position:relative; text-align:left; } 
#TopNav ul li div.Rsubnav div.col { float:left; margin:0px 0px 0px 0px; padding:0px 6px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/dotLine_v.gif"); /*height:102px;*/ background-repeat:no-repeat; background-position:right; }
#TopNav ul li div.Rsubnav div.col.last { margin:0px 0px 0px 0px; padding:0px 5px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }
#TopNav ul li div.Rsubnav div.col.sep { margin:0px 0px 0px 0px; padding:0px 5px 10px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }

/* Navigation --------------------------> Dropdowns opening to LEFT of tab */
#TopNav ul li div.RRsubnav { position:absolute; top:30px; right:0px; display:none; padding:10px 0px 10px 0px; margin-right:0px; overflow:hidden; border:1px solid #ACACAC; border-top:0px; }
* html #TopNav ul li div.RRsubnav { padding:10px 0px 10px 0px; }
#TopNav ul li.hoverSub div.RRsubnav { display:block; }

#TopNav ul li div.RRsubnav div.RRsubnavImg#li6 { position:absolute; right:-32px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goLw.gif"); }
*:first-child+html #TopNav ul li div.RRsubnav div.RRsubnavImg#li6 { position:absolute; right:-32px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goLw.gif"); }
* html #TopNav ul li div.RRsubnav div.RRsubnavImg#li6 { position:absolute; right:-32px; top:0; height:600px; width:850px; background:#FFFFFF; background-image:url("/fplcommon/wrapper/1024images/drop_goLw.gif"); }

#TopNav ul li div.RRsubnav div.contentWrapper { position:relative; }
#TopNav ul li div.RRsubnav div.content { padding:0px; position:relative; text-align:left; } 
#TopNav ul li div.RRsubnav div.col { float:left; margin:0px 0px 0px 0px; padding:0px 15px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/dotLine_vv.gif"); background-repeat:no-repeat; background-position:right; }
#TopNav ul li div.RRsubnav div.col.last { margin:0px 0px 0px 0px; padding:0px 5px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/dotLine_vvv.gif"); background-repeat:no-repeat; background-position:left; }
#TopNav ul li div.RRsubnav div.col.mid { margin:0px 0px 0px 0px; padding:0px 5px 0px 5px; background-image:url("/fplcommon/wrapper/1024images/transparent.gif"); background-repeat:repeat-y; background-position:right; }

/* Top Navigation for Landing Pages --- No Submenu */

#topMenu { width:275px; float:right; margin:10px 0;}
a.nav, a.nav:link, a.nav:visited, .chosen { display:block; width:auto; height:auto; background:#FFFFFF; padding:3px 11px; text-align:center; text-decoration:none; font-family:Verdana; font-size:14px; font-weight:bold; color:#003063; float:left; border-right:1px solid #ACACAC; }
a#last { border-right:1px solid #FFFFFF; }
a.nav:hover { color:#0065CE; background:#FFFFFF; text-decoration:none; }
a.nav:active, .chosen { color:#0065CE; background:#FFFFFF; text-decoration:none; }
 
/* END Navigation ----> RIGHT Dropdown */

/* BEGIN Manage My Account flyout */
/* ================================================================ 
This copyright notice must be untouched at all times.
The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/flyout_4level.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
#accountAccess .flyoutMenu { position:relative; width:186px; padding-top:0px; }
.flyoutMenu img { border:none; }
.flyoutMenu { font:normal 11px/17px Verdana; }
.flyoutMenu ul { margin:0pt; padding:0pt; position:relative; z-index:500; list-style-type:none; width:120px; }
.flyoutMenu li { float:left; }
.flyoutMenu li.sub { background:transparent; }
.flyoutMenu table { position:absolute; border-collapse:collapse; top:0px; left:0px; z-index:100; font-size:10px; margin-top:-1px; }
.flyoutMenu a,
.flyoutMenu a:visited { border:0 none; display:block; text-decoration:none; height:2em; line-height:1.5em; width:186px; color:#4B4B4B; font-weight:normal; font-style:normal; font-variant:normal; text-transform:none; font:normal 11px/17px Verdana; margin-left:3px; padding-left:7px; }
* html .flyoutMenu a, * html .flyoutMenu a:visited { width:186px; }
* html .flyoutMenu a:hover { color:#006AB6; position:relative; font-weight:normal; font-style:normal; font-variant:normal; text-decoration:none; text-transform:none; font:normal 11px/17px Verdana; }
.flyoutMenu li:hover { position:relative; }
.flyoutMenu a:active, .flyoutMenu a:focus { color:#4B4B4B; font-weight:normal; font-style:normal; font-variant:normal; text-decoration:none; text-transform:none; }
.flyoutMenu li:hover > a { color:#006AB6; font-weight:normal; font-style:normal; font-variant:normal; text-decoration:none; text-transform:none; }
.flyoutMenu li ul.mma_list { visibility:hidden; position:absolute; top:0; left:18.5em; line-height:0.3em; }
#IEroot .flyoutMenu li ul.mma_list { left:20em; }
* html .flyoutMenu li ul.mma_list { visibility:hidden; position:absolute; top:0; left:18.7em; background:url("/fplcommon/wrapper/1024images/flyout_area.gif") no-repeat left top; }
.flyoutMenu li:hover > ul { visibility:visible; }
.flyoutMenu ul a:hover ul ul { visibility:hidden; }
.flyoutMenu ul a:hover ul a:hover ul ul { visibility:hidden; }
.flyoutMenu ul a:hover ul a:hover ul a:hover ul ul { visibility:hidden; }
.flyoutMenu ul a:hover ul { visibility:visible; }
.flyoutMenu .clearfix { width:186px; padding:0; margin:0; }
.flyoutMenu .toplevel { border-bottom:0px; }
.flyoutMenu a#manage-account { margin:0px; background:url("/fplcommon/wrapper/1024images/myAccount.gif") no-repeat left top; height:22px; }
* html .flyoutMenu a#manage-account { margin:0px; background:url("/fplcommon/wrapper/1024images/myAccount.gif") no-repeat left top; }
.flyoutMenu #manage-account:hover { background-position:0px -22px; padding:0px; }
.flyoutMenu #manage-account.selected a { background-position:0px -22px; padding:0px; }
.flyoutMenu #manage-account.hover a { background-position:0px -22px; padding:0px; }
.flyoutMenu a.first-child { margin-top:0px; background:url("/fplcommon/wrapper/1024images/flyout_top.gif") no-repeat left top; }
.flyoutMenu a.child { margin-top:0px; background:url("/fplcommon/wrapper/1024images/flyout_middle.gif") no-repeat left top; }
.flyoutMenu a.last-child { margin-top:0px; background:url("/fplcommon/wrapper/1024images/flyout_bottom.gif") no-repeat left bottom; }
* html .flyoutMenu a.first-child { margin-top:0px; background:url("/fplcommon/wrapper/1024images/flyout_top.gif") no-repeat left top; background-color:transparent; }
* html .flyoutMenu a.child { margin-top:0px; background:url("/fplcommon/wrapper/1024images/flyout_middle.gif") no-repeat left top; background-color:transparent; }
* html .flyoutMenu a.last-child { margin-top:0px; background:url("/fplcommon/wrapper/1024images/flyout_bottom.gif") no-repeat left bottom; background-color:transparent; }
/* END Manage My Account */

#leftNavTitle { background:transparent url("/fplcommon/wrapper/1024images/LN_titleBG.gif") no-repeat bottom left; display:block; width:186px; line-height:30px; margin:0px 0px 0px 0px; }
#leftNavTitle a,
#leftNavTitle a:hover { font-size:14px; font-weight:bold; color:#006AB6; text-decoration:none; margin:0px 0px 0px 3px; }

#leftNavTitle_MOZ { background:transparent url("/fplcommon/wrapper/1024images/LN_titleBG.gif") no-repeat bottom left; display:block; width:186px; line-height:30px; margin:50px 0px 0px 0px; }
* html #leftNavTitle_MOZ { margin:0px 0px 0px 0px; }
#leftNavTitle_MOZ a,
#leftNavTitle_MOZ a:hover { font-size:14px; font-weight:bold; color:#006AB6; text-decoration:none; margin:0px 0px 0px 3px; }

/* Left Navs */
.leftDynaMenu { width:190px; font:Verdana; display:inline; }/*width of Dynamic menu*/
.leftDynaMenu .menuheaderTop { font-size:12px; font-weight:bold; color:#4B4B4B; margin:0px 0px 0px 5px; padding:5px 0px 5px 0px; cursor:auto; cursor:pointer; }
.leftDynaMenu .menuheaderTop a { color:#4B4B4B; text-decoration:none; }
.leftDynaMenu .menuheaderTop a:hover { color:#006AB6; text-decoration:none; }

/* LEVEL ONE - main heading items */
.leftDynaMenu .menuheader { width:180px; font-size:12px; font-weight:bold; color:#4B4B4B; margin:0px 0px 0px 0px; background-image:url("/fplcommon/wrapper/1024images/IEdots.gif"); background-repeat:repeat-x; background-position:top; padding:5px 0px 5px 5px; cursor:auto; cursor:pointer; }
.leftDynaMenu .menuheader a { color:#4B4B4B; text-decoration:none; }
.leftDynaMenu .menuheader a:hover { color:#006AB6; text-decoration:none; }
/*header expanded*/
.leftDynaMenu .openheader { font-size:12px; font-weight:bold; color:#006AB6; } 
.leftDynaMenu ul { list-style-type:none; margin-left:0px; padding:0px; margin-bottom:0px; } /*sub menu items*/

/* LEVEL TWO - sub level items (arrows display at this level) */
.leftDynaMenu ul { margin:0px 0px 5px 0px; }
.leftDynaMenu ul li { font-size:12px; padding:3px 0px 3px 5px; }
.leftDynaMenu ul li a.noArrow { padding:3px 0px 3px 9px; }
.leftDynaMenu ul li a.subexpandable { background:url("/fplcommon/wrapper/1024images/1024_navArrow_Icon.gif") no-repeat; background-position:0px 0px; }
.leftDynaMenu ul li a,
.leftDynaMenu ul li a:visited { color:#4B4B4B; text-decoration:none; padding-left:9px; }
.leftDynaMenu ul li a:hover,
.leftDynaMenu ul li.selected a { color:#006AB6; text-decoration:none; padding-left:9px; }

/* LEVEL THREE - subexpandable level opening beneath arrows */
.leftDynaMenu ul li ul { margin:5px 0px 0px 5px; }
.leftDynaMenu ul li ul li { font-size:11px; padding:2px 0px 2px 0px; }
.leftDynaMenu ul li ul li a,
.leftDynaMenu ul li ul lia:visited { color:#4B4B4B; text-decoration:none; }
.leftDynaMenu ul li ul li a:hover,
.leftDynaMenu ul li ul li.selected a { color:#006AB6; text-decoration:none; }

/* Footer settings --------------------------------------------------------------------*/
.footer { background-image:url("/fplcommon/wrapper/1024images/HP_footerBG.jpg"); background-repeat:no-repeat; background-position:center top; }
#footer-left { font-family:Verdana; font-size:10px; font-weight:normal; color:#006AB6; text-decoration:none; margin-left:5px; float:left; line-height:1.25; }
#footer-left a,
#footer-left a:visited,
#footer-left selected:a { color:#006AB6; }
#footer-left a:hover { color:#006AB6; text-decoration:underline; }
#footer-right { font-family:Verdana;font-size:10px; font-weight:normal; color:#4B4B4B; text-decoration:none; margin-right:5px; float:right; line-height:1.25; }
/* Footer with Email Input settings --------------------------------------------------------------------*/
.email_footer { background-image:url("/fplcommon/wrapper/1024images/eMail_footerBG.jpg"); background-repeat:no-repeat; background-position:center top; }
#email_footer-left { margin:5px 0 0 5px; float:left; font-family:Verdana; font-size:10px; font-weight:normal; }
#footerLinks a,
#footerLinks a:visited,
#footerLinks selected:a { color:#006AB6; text-decoration:none; line-height:1.5; }
#footerLinks a:hover { color:#006AB6; text-decoration:underline; }
#copyright { color:#4B4B4B; line-height:1.5; }
.footerHolder {width:240px; height:25px; float:right; padding-top:17px; }
.footerAddress {width:165px; height:18px; * height:16px; background:none; border:none; color:#4B4B4B; margin-left:5px; font-size:10px; outline:none;}
/**+html .footerAddress {margin-left:-50px;} IE7*/

.topGreyLine { background:url("/fplcommon/wrapper/1024images/1024_topGreyLine.gif") repeat-x; background-position:center top; height:7px; margin-top:0px; margin-bottom:15px; }
#greyDotLine { background-image:url("/fplcommon/wrapper/1024images/IEdots.gif"); background-repeat:repeat-x; background-position:top; }

.topGreyLine2 { background:url("/fplcommon/wrapper/1024images/1024_topGreyLine.gif") repeat-x; background-position:center top; height:7px; margin-top:0px; margin-bottom:5px; }
.topGreyLineSocial { margin:0; padding:0; text-align:right; font:Verdana; font-size:12px; color:#4B4B4B; height:18px; }
* html .topGreyLineSocial { line-height:10px; }
.topGreyLineSocial #shareThis { float:right; }
.topGreyLineSocial #shareThis a { color:#4B4B4B; }
.topGreyLineSocial #socialLinks { margin:2px 15px 0 0; *margin:0 15px 0 0; float:right; height:25px; }
.topGreyLineSocial #socialLinks a { padding:0px 5px 0px 10px; vertical-align:middle; color:#4B4B4B; }
.topGreyLineSocial #socialLinks img { vertical-align:middle; padding:0; }


ul, li { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; margin:0; text-indent:0; padding:0; list-style:; }

</cmignore>
