@charset "utf-8"; 
/* CSS Document */
/* Global Styles
--------------------------------------------------------------------*/

* { 
margin:0; 
padding:0; 
}

#fpl_page  { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#4b4b4b; margin:0px !important; padding:0px !important; text-align:center !important; }

#outerMost { margin:15px auto; text-align:left; }
#outerMostTable { margin:15px auto; text-align:left; }

img { border:0; }
img.border { border:1px solid #ccc; padding:2px; }
div.hr { height:0px; border-bottom:1px solid #ddd; margin:1.5em 0; }
hr.dotted { border:	none; border-top:1px dashed #ddd; height:	1px; margin-bottom:1.5em; }
hr { margin:1.5em 0; }
li {list-style:none;
      text-indent:inherit;
	 padding-left:inherit; padding-right:inherit; padding-bottom:inherit;}
ul {margin-left: 0px; margin-top: 0px; margin-bottom: 0px;
	text-indent: 0em;
	padding-left: 0em; padding-right: 0em; padding-bottom: 0em;}   
	   
	   
	   
	   
	   
	
	   

/* Links
--------------------------------------------------------------------*/
a, a:visited { text-decoration:none; }
a:hover { color:#006AB6; text-decoration:underline; }		
selected.a { color:#006AB6; }

p { font-size:10pt; margin-left:0px; margin-bottom:10px; }

/* Text
--------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { font-family:Verdana, Arial, Helvetica, sans-serif; color:#4b4b4b; font-weight:normal; }
.newsReleaseSubHeading { font-size:12pt; color:#FFFFFF; }

h1 { font-family:Arial; font-size:14pt; color:#4B4B4B; font-weight:bold; padding:0px; margin:0px 0px 10px 0px; background-color:#ffffff; }
h2 { font-size:12pt; color:#4b4b4b; font-weight:bold; margin:20px 0 5px 0; }
h3 { font-size:11pt; color:#4B4B4B; font-weight:bold; margin-left:3px; margin-right:3px; }
h4 { font-size:11pt; color:#4B4B4B; font-weight:bold; margin-left:3px; margin-right:3px; }
h5 { font-family:Arial; font-size:14pt; color:#4B4B4B; background-color:#ffffff; font-weight:bold; text-align:center; padding:0px; margin:0px 0px 10px 0px; width:650px; }
h6 { font-size:11pt; }
li, td, ul { font-size:10px; text-align:left; }
ol, li { font-size:10px; text-align:left; }

/* Often Used Classes   
--------------------------------------------------------------------*/
.floatRight { float:right; display:inline; /*to avoid IE double margin bug*/ margin:0 0 1em 1em; }
.floatLeft { float:left; display:inline; /*to avoid IE double margin bug*/margin:0 1em 1em 0; }
.superscript { vertical-align:super; font-size:smaller; }

/* Links
--------------------------------------------------------------------*/
p.links { text-align:right; }
p.links a { color:#006AB6; }
p.padBottom { margin-bottom:2em; }
p.description { font-size:1.3em; line-height:2em; color:#4B4B4B; }

/* Containers
--------------------------------------------------------------------*/
#Content { float:left; display:inline; margin-top:10px; }

/* Banner
--------------------------------------------------------------------*/
#banner { z-index:1; width:86px; height:81px; background:white; padding-top:0px; padding-left:5px; text-align:center; }
#banner p { font-size:10pt; color:gray; width:540px; vertical-align:text-top; }
#banner a { z-index:1; font-size:10pt; color:gray; text-decoration:none; }
#banner a:hover { z-index:1; font-size:10pt; color:blue; text-decoration:none; }

/* #Content settings
--------------------------------------------------------------------*/
#Content p { line-height:1.5em; }
#Content h3 { margin:0 0 0.5em 0; line-height:1.3em; }
.newsAreaTitle{ font-size:10pt; color:#FFFFFF; font-weight:bold; padding:1px 6px 1px 6px; background:#3d3a25; }

#welcome { position:relative; width:186px; padding-top:0px; }
.welcomeContent table { vertical-align:top; }
.welcomeText{ font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size:11px; color:#FFFFFF; }

/*.leftNavContent { vertical-align:top; width:200px; }*/
/*centerContent styles for applications*/
.centerContent { vertical-align:top; margin-left:10px; width:780px; }
.centerContent td { font-family:Verdana, Arial, Helvetica, sans-serif; color:#4B4B4B; weight:normal; font-size:10pt; }
.centerContent ul { padding:1pt; margin:1pt; margin-left:15px; }
.centerContent li { font-family:Verdana, Arial, Helvetica, sans-serif; color:#4B4B4B; list-style-position:inside; weight:normal; font-size:10pt; list-style:none }
.centerContent h6{ font-family:arial, helvetica, sans serif; font-size:10pt; color:#FFFFFF; font-weight:bold; background:#999999; padding:2px 1px 1px 2px; margin:0px 0px 0px 0px; }
.centerContent p { font-family:Verdana, Arial, Helvetica, sans-serif; color:#4B4B4B; weight:normal; font-size:10pt; }

/*centerContent_PG styles for Content Pages*/
.centerContent_PG { vertical-align:top; margin-left:10px; width:780px; line-height:1.8em; }
.centerContent_PG td { font-family:Verdana, Arial, Helvetica, sans-serif; color:#4B4B4B; weight:normal; font-size:10pt; }
.centerContent_PG ul { padding:1px; margin:5px; margin:0 25px; *margin:0 30px;/*padding:1px; margin:5px; margin:0 15px;*/ }
.centerContent_PG ol { padding:1px; margin:5px; margin:0 25px; *margin:0 30px; }
.centerContent_PG li { font-family:Verdana, Arial, Helvetica, sans-serif; color:#4B4B4B; list-style-position:outside; weight:normal; font-size:10pt; line-height:1.5em; /*list-style-position:outside; */ }
.centerContent_PG h6{ font-family:arial, helvetica, sans serif; font-size:10pt; color:#FFFFFF; font-weight:bold; background:#999999; padding:2px 1px 1px 2px; margin:0px 0px 0px 0px; }
.centerContent_PG p { font-family:Verdana, Arial, Helvetica, sans-serif; color:#4B4B4B; weight:normal; font-size:10pt; padding:0 5px 5px 0; }

.infoBox { padding:10px; }
.infoBox #box1, #box2, #box4, #box5 { margin-right:15px; padding-right:5px; border-right:1px dashed #4B4B4B; }
.infoBox #box3 { border-left:0; }
.infoBox ul { list-style:none; padding:10px; }
.infoBox ul li { list-style-position:inside; font-size:11px; color:#4B4B4B; background:url("/fplcommon/wrapper/1024images/1024_bgSubNavArrowOn.gif") no-repeat 1px 8px;  /* sets placement of bullet image */text-indent:8px; }
.learnMore { background-image:url("/fplcommon/wrapper/1024images/1024_bluePlus.jpg"); background-repeat:no-repeat; background-position:left; }
p.learnMore { }			
.learnMore * { padding-left:18px; }

.customerServiceTopTD { border-bottom:1px solid; border-bottom-color:#5d7eb8; background-image:url("/fplcommon/wrapper/images/roundArrow.gif"); background-repeat:no-repeat; background-position:center left; font:Arial, Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; padding-left:15px; }

.customerServiceTopTD a:link,
.customerServiceTopTD a:visited{ font:Arial, Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#0066CC; text-decoration:none; }
.customerServiceTopTD a:hover{ font:Arial, Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#0066CC; text-decoration:underline; }
.customerService { margin:4px 4px 4px 4px; width:90%; }
.customerService li{ list-style-image:url("/fplcommon/wrapper/images/smallArrow.gif"); }
* html .customerService li { list-style-image:url("/fplcommon/wrapper/images/smallArrow_IE.gif"); }
.customerServiceInLine li{ list-style-image:url("/fplcommon/wrapper/images/smallArrow.gif"); float:left; }
.customerService ul{ margin-left:15px; }


/* BEGIN style code for applications and accordion squovals */
#appBanner { padding-bottom:15px; border:0; }

#outerMost .centerContent_PG .topCapTDBackGround_sq { background-image:url("/fplcommon/wrapper/images/sq_outline_tcBG.gif"); background-repeat:repeat-x; }
#outerMost .centerContent_PG .topCapTDBackGround_gr { background-image:url("/fplcommon/wrapper/images/gr_outline_tcBG.gif"); background-repeat:repeat-x; }
#outerMost .centerContent_PG .botCapTDBG_gr { background-image:url("/fplcommon/wrapper/images/gr_outline_bcBG.gif"); background-repeat:repeat-x; }
#outerMost .centerContent_PG .botCapTDBG_P { background-image:url("/fplcommon/wrapper/images/P_outline_bcBG.gif"); background-repeat:repeat-x; }
#outerMost .centerContent_PG .topCapTDBackGround_gT { background-image:url("/fplcommon/wrapper/images/gT_outline_tcBG.gif"); background-repeat:repeat-x; }
#outerMost .centerContent_PG .topCapTDBG_solid { background-image:url("/fplcommon/wrapper/images/solid_outline_tcBG.gif"); background-repeat:repeat-x; }
#outerMost .centerContent_PG .botCapTDBG_solid { background-image:url("/fplcommon/wrapper/images/solid_outline_bcBG.gif"); background-repeat:repeat-x; }
#outerMost .centerContent_PG .topCapTDBackGround_P { background-image:url("/fplcommon/wrapper/images/outline_tcBG.gif"); background-repeat:repeat-x; }
#outerMost .centerContent_PG .topCapTD_Lside { border-left:1px solid; border-left-color:#aec3d0; border-top:1px solid; border-top-color:#aec3d0; height:100%; width:100%; font-size:12px; }
#outerMost .centerContent_PG .innerTextHeading { font-size:12px; font-weight:bold; float:left; padding:2px; }
#outerMost .centerContent_PG .innerTextSub_blu { font-size:12px; font-weight:bold; color:#003399; float:left; padding:2px; }
#outerMost .centerContent_PG .innerTextSub { font-size:12px; font-weight:bold; float:left; padding:2px; }
#outerMost .centerContent_PG .innerTextTitle { font-size:12px; font-weight:bold; padding-left:8px; padding-top:2px; }
* html #outerMost .centerContent_PG div.innerTextTitle { line-height:20px; margin:0px 0px -2px 0px; }
#outerMost .centerContent_PG #innerText { margin:0px 0px 0px 0px; font-size:12px; padding-left:8px; padding-bottom:1px; vertical-align:top; line-height:1.3; }
#outerMost .centerContent_PG #innerText a { text-decoration:none; }
#innerText a:hover { text-decoration:underline; }
#outerMost .centerContent_PG #innerText ul { margin:0px 0px 0px 0px; font-weight:normal; padding-left:20px; position:relative; list-style-type:none; vertical-align:middle; }
#outerMost .centerContent_PG #innerText li { font-weight:normal; list-style-type:none; vertical-align:middle; }
#outerMost .centerContent_PG .innerTextBold { font-size:12px; vertical-align:top; font-weight:bold; padding-top:5px; padding-left:6px; }
#outerMost .centerContent_PG .innerTextBold ul { margin:0px 0px 0px 0px; font-weight:normal; padding-left:10px; padding-right:5px; position:relative; list-style-type:none; }
#outerMost .centerContent_PG .innerTextBold li{ font-weight:normal; list-style-type:none; }
#outerMost .centerContent_PG .innerTextBold a { font-weight:normal; text-decoration:none; padding-left:0px; padding-right:5px; }
#outerMost .centerContent_PG .innerTextBold a:hover { text-decoration:underline; }
#outerMost .centerContent_PG #innerText_Left { margin:2px 0px 2px 0px; font-size:12px; padding-left:8px; float:left; }
* html #outerMost .centerContent_PG div#innerText_Left { line-height:20px; margin:0px 0px; 	}
#outerMost .centerContent_PG #innerText_Right { margin:2px 0px 2px 0px; font-size:12px; padding-left:8px; float:right; }
* html #outerMost .centerContent_PG div#innerText_Right { line-height:20px; margin:0px 0px; }
#outerMost .centerContent_PG .messageInbox { margin:2px 0px 2px 0px; font-size:12px; padding:8px; }
#outerMost .centerContent_PG .bottomPortalTD_solid { border-left:1px solid; border-left-color:#aec3d0; border-right:1px solid; border-right-color:#aec3d0; background-color:#D7E1E8; height:100%; widows:100%; font-size:12px; }
#outerMost .centerContent_PG .bottomPortalTD_solid p { font-size:12px; padding:0px 10px; margin-bottom:5px; }
#outerMost .centerContent_PG .bottomPortalTD_solid a { text-decoration:underline; }
#outerMost .centerContent_PG .bottomPortalTD_solid p a { text-decoration:underline; }
/*.bottomPortalTD_solid a:hover { text-decoration:underline; }*/

#outerMost .centerContent_PG .bottomPortalTD_sides { border-left:1px solid; border-left-color:#aec3d0; border-right:1px solid; border-right-color:#aec3d0; height:100%; widows:100%; font-size:12px; }
#outerMost .centerContent_PG .bottomPortalTD_sides p { font-size:12px; padding-left:10px; margin-bottom:5px; }
#outerMost .centerContent_PG .bottomPortalTD_sides a { text-decoration:none; }
#outerMost .centerContent_PG .bottomPortalTD_sides a:hover { text-decoration:underline; }
#outerMost .centerContent_PG .bottomPortalTD_none { height:100%; padding-left:8px; padding-top:5px; font-size:12px; }
#outerMost .centerContent_PG .bottomPortalTD_pad1 { border-left:1px solid; border-left-color:#aec3d0; border-right:1px solid; border-right-color:#aec3d0; background-color:#FFFFFF; height:100%; font-size:12px; }
#outerMost .centerContent_PG .h_Line_2 { background-image:url("/fplcommon/wrapper/images/h_line_2.gif"); background-position:bottom; background-repeat:repeat-x; }
#outerMost .centerContent_PG .h_Line { background-image:url("/fplcommon/wrapper/images/h_line.gif"); background-position:bottom; background-repeat:repeat-x; }
* html #outerMost .centerContent_PG .h_Line { line-height:20px; vertical-align:text-top; }
#outerMost .centerContent_PG .v_line { background-image:url("/fplcommon/wrapper/images/v_line.gif"); background-position:center; background-repeat:repeat-y; }
#outerMost .centerContent_PG .button { background-image:url("/fplcommon/wrapper/images/buttonFF.gif"); height:20px; max-height:20px; width:125px; background-repeat:no-repeat; position:relative; font-size:12px; text-align:center; padding-top:2px; }
* html #outerMost .centerContent_PG div.button { height:expression( this.Height > 20 ? "20px" :"auto" ); padding-top:2px; padding-bottom:5px; }
#outerMost .centerContent_PG .button_200 { background-image:url("/fplcommon/wrapper/images/button_200.gif"); height:20px; max-height:20px; width:200px; background-repeat:no-repeat; position:relative; font-size:12px; text-align:center; padding-top:2px; }
* html #outerMost .centerContent_PG div.button_200 { height:expression( this.Height > 20 ? "20px" :"auto" ); padding-top:2px; padding-bottom:5px; }
#outerMost .centerContent_PG .button_200x40 { background-image:url("/fplcommon/wrapper/images/button_200x40.gif"); height:40px; max-height:20px; width:200px; background-repeat:no-repeat; position:relative; font-size:12px; text-align:center; padding-top:2px; }
* html #outerMost .centerContent_PG div.button_200x40 { height:expression( this.Height > 40 ? "40px" :"auto" ); padding-top:2px; padding-bottom:5px; }
/* end new code for applications and accordion squovals */

/* Begin Expand/Collapse styles */
#outerMost .centerContent_PG .popshow { display:none }
#outerMost .centerContent_PG .pophide { display:inline; padding-left:0px; padding-top:0px; }
#outerMost .centerContent_PG img.minus { background-image:url("/fplcommon/wrapper/images/bigButton_Up.gif"); height:48px; max-height:48px; width:190px; background-repeat:no-repeat; position:relative; font-size:12px; text-align:center; padding-top:7px; }
/* begin styles for applications - POL and datepicker */

/* Static Right Menu */
#outerMost .centerContent_PG .rightMenu { float:right; margin:0px; padding:0px; }

/* LEVEL ONE - main heading items */
#outerMost .centerContent_PG .rightMenu h3 { font-size:12px; font-weight:bold; color:#4B4B4B; cursor:auto; cursor:pointer; }
#outerMost .centerContent_PG .rightMenu h3 a { color:#4B4B4B; text-decoration:none; }
#outerMost .centerContent_PG .rightMenu h3 a:hover { color:#006AB6; text-decoration:none; }
/*header expanded*/
#outerMost .centerContent_PG .rightMenu ul { list-style-type:none; margin-left:0px; padding:0px; margin-bottom:0px; } /*sub menu items*/

/* LEVEL TWO - sub level items (arrows display at this level) */
#outerMost .centerContent_PG .rightMenu ul { margin:0px 0px 5px 5px; }
#outerMost .centerContent_PG .rightMenu ul li { font-size:12px; padding:3px 0px 3px 5px; }
#outerMost .centerContent_PG .rightMenu ul li a#noArrow { padding:3px 0px 3px 9px; }
#outerMost .centerContent_PG .rightMenu ul li a#yesArrow { background:url("/fplcommon/wrapper/1024images/1024_navArrow_Icon.gif") no-repeat; background-position:0px 0px; }
#outerMost .centerContent_PG .rightMenu ul li a,
#outerMost .centerContent_PG .rightMenu ul li a:visited { color:#4B4B4B; text-decoration:none; padding-left:9px; }
#outerMost .centerContent_PG .rightMenu ul li a:hover,
#outerMost .centerContent_PG .rightMenu ul li.selected a { color:#006AB6; text-decoration:none; padding-left:9px; }

/* LEVEL THREE - subexpandable level opening beneath arrows */
#outerMost .centerContent_PG .rightMenu ul li ul { margin:5px 0px 0px 5px; }
#outerMost .centerContent_PG .rightMenu ul li ul li { font-size:11px; padding:2px 0px 2px 0px; }
#outerMost .centerContent_PG .rightMenu ul li ul li a,
#outerMost .centerContent_PG .rightMenu ul li ul lia:visited { color:#4B4B4B; text-decoration:none; }
#outerMost .centerContent_PG .rightMenu ul li ul li a:hover,
#outerMost .centerContent_PG .rightMenu ul li ul li.selected a { color:#006AB6; text-decoration:none; }
/*End Right Menu*/

<!--CSS Only White Squoval-->
#whiteSquoval h1, #whiteSquoval h2, #whiteSquoval p { margin:0 10px; letter-spacing:1px; }
#whiteSquoval h1 { font-size:16px; color:#4b4b4b; }
#whiteSquoval h2 { font-size:14px; color:#06a; border:0; }
#whiteSquoval p { padding-bottom:0.5em; }
#whiteSquoval h2 { padding-top:0.5em; }
#whiteSquoval { background:transparent; margin:20px 1em; }
.whiteSqTop, .whiteSqBottom { display:block; background:transparent; font-size:1px; }
.wSq1, .wSq2, .wSq3, .wSq4 { display:block; overflow:hidden; }
.wSq1, .wSq2, .wSq3 { height:1px; }
.wSq2, .wSq3, .wSq4 { background:#fff; border-left:1px solid #ADC3D0; border-right:1px solid #ADC3D0; }
.wSq1 { margin:0 5px; background:#ADC3D0; }
.wSq2 { margin:0 3px; border-width:0 2px; }
.wSq3 { margin:0 2px; }
.wSq4 { height:2px; margin:0 1px; }
.whiteSquovalContent { display:block; background:#fff; border:0 solid #ADC3D0; border-width:0 1px; }
.whiteSquovalContent h3 { font-size:12px; font-weight:bold; padding-left:8px; padding-top:2px; }
.whiteSquovalContent p { font-size:12px; }
.whiteSquovalContent a, a:visited, { text-decoration:none; }
.whiteSquovalContent a:hover { color:#006AB6; text-decoration:underline; }
.whiteSquovalContent selected.a { color:#006AB6; }

<!--CSS Only Blue Squoval-->
#blueSquoval h1, #blueSquoval h2, #blueSquoval h3, #blueSquoval p { margin:0 10px; letter-spacing:1px; }
#blueSquoval h1 { font-size:16px; color:#4b4b4b; }
#blueSquoval h2 { font-size:14px; color:#4b4b4b; border:0; }
#blueSquoval h3 { font-size:12px; color:#4b4b4b; border:0; }
#blueSquoval p { padding-bottom:0.5em; }
#blueSquoval h2 { padding-top:0.5em; }
#blueSquoval { background:transparent; margin:0; }
.blueSqTop, .blueSqBottom { display:block; background:transparent; font-size:1px; }
.bSq1, .bSq2, .bSq3, .bSq4 { display:block; overflow:hidden; }
.bSq1, .bSq2, .bSq3 { height:1px; }
.bSq2, .bSq3, .bSq4 { background:#D7E1E8; border-left:1px solid #ADC3D0; border-right:1px solid #ADC3D0; }
.bSq1 { margin:0 5px; background:#ADC3D0; }
.bSq2 { margin:0 3px; border-width:0 2px; }
.bSq3 { margin:0 2px; }
.bSq4 { height:2px; margin:0 1px; }
.blueSquovalContent { display:block; background:#D7E1E8; border:0 solid #ADC3D0; border-width:0 1px; }
.blueSquovalContent h3 { font-size:12px; font-weight:bold; padding-left:8px; padding-top:2px; }
.blueSquovalContent p { font-size:12px; }
.blueSquovalContent a, a:visited, { text-decoration:none; }
.blueSquovalContent a:hover { color:#006AB6; text-decoration:underline; }
.blueSquovalContent selected.a { color:#006AB6; }

#AssistLogin table.form-login { background-color:#F7F7F7; border:1px solid #C9C9C9; width:185px; }
#AssistLogin table.form-login div { margin:10px 0 10px 0; }
#AssistLogin table.form-login h3 { background:transparent url('/fplcommon/wrapper/1024images/form-login-icon.gif') no-repeat scroll 165px center; color:#000000; font-size:11px; text-align:center; }
#AssistLogin table.form-login a { color:#000000; }

/* eMail Input for content page */
.email_inline { background-image:url("/fplcommon/wrapper/1024images/eMail_inline.jpg"); background-repeat:no-repeat; width:266px; height:88px; }
.emailInlineHolder { width:266px; height:25px; padding-top:50px; }
.emailInlineAddress { width:165px; height:18px; * height:16px; background:none; border:none; color:#4B4B4B; margin-left:20px; font-size:10px; outline:none; }


/* Footer settings
--------------------------------------------------------------------*/
#footer { color:#4B4B4B; font-size:11px; margin:30px 0px 10px 0px; text-align:left; }
#footer a { font-size:11px; color:gray; text-decoration:none; }
#footer a:hover { font-size:11px; color:blue; text-decoration:none; }
#printFooter p { font-size:11px; }
#footer img { vertical-align:middle; }



/* Clearfix  (http://www.positioniseverything.net/easyclearing.html)
--------------------------------------------------------------------*/
.clearfix:after, 
#Banner:after { 	content:" "; display:block; height:0; clear:both; visibility:hidden; }
.clearfix, 
#Banner { display:inline-block; } /* IE/Mac */ 
/* Hides from IE-mac \*/
* html .clearfix, 
* html #Banner { height:1%; }
.clearfix, #Banner { display:block; }
/* End hide from IE-mac */

/*begin social networking widget*/
#socialTop { margin-top:-10px; }
/*end social networking widget*/
