body {
font-family:Times New Roman, Times, serif;
font-size:12pt;
color:black;
background: white;
margin-top:20px;
}

a:link, a:visited {
color: #520;
background: transparent;
font-weight: bold;
text-decoration: underline;
}

/*img {
-moz-display:none; display:none;
}*/

img.marketing {
border-style:solid;
border-color:white;
border-width:1px;
margin-left:6px;
margin-bottom:8px;
margin-top:20px;
-moz-display:none; display:none;
}
#banner{
-moz-display:none; display:none; display:none;
}


#topMenu {
-moz-display:none; display:none;
}

.topWrapper {
-moz-display:none; display:none;
}

.leftWrapper {
-moz-display:none; display:none;
}

#searchBox{
-moz-display:none; display:none;
}

#leftBuckets{
-moz-display:none; display:none;
}

#rightBuckets{
-moz-display:none; display:none;
}

.centerContent a, p{
}

#outerMostTable {width:680px;}
#outerMost {width:680px;}

/*#leftSection {
position:absolute;
left:0px;
top:100px;
width:124px;
background:#f1f1f1;
border-top:1px solid #adadad;
border-right:1px solid #cbcbcb;
-moz-display:none; display:none;
}*/

#contentSection {
width:auto;
border:0;
margin:0 5%;
padding:0;
float:none;
background:transparent;
}

#contentSection h1 {
font-family:Arial, Helv, Helvetica, sans-serif;
font-size:16pt;
font-weight:bold;
margin-top:20px
}

#contentSection h2 {
font-family:Arial, Helv, Helvetica, sans-serif;
font-size:12pt;
font-weight:bold;
color:#000066;
}

#contentSection p.header {
-moz-display:none; display:none;
}

#contentSection img.header {
-moz-display:none; display:none;
}

#footer {
color:#666666;
font-size:12px;
margin:30px 0px 10px 10px;
-moz-display:none; display:none;
}

#printFooter {
color:#666666;
margin:30px 0px 10px 0px;
text-align:center;
}

#printLogo { }

#rightSection {
-moz-display:none; display:none;
}

#navigation {
-moz-display:none; display:none;
}

#appSection h1 {
font-family:Arial, Helv, Helvetica, sans-serif;
font-size:16pt;
font-weight:bold;
}

#appSection h2 {
font-family:Arial, Helv, Helvetica, sans-serif;
font-size:12pt;
font-weight:bold;
}

#appSection p.header {
-moz-display:none; display:none;
}

#appSection img.header {
-moz-display:none; display:none;
}

#appSection img.logo {
display:inherit;
}

#appSection table {
font-size:11pt;
border-collapse:collapse;
empty-cells:show;
border-bottom:1px solid #cecece;
width:463px;
}

#appSection td {
border:1px solid #cecece;
padding:1px 3px 1px 3px;
height:20px;
}

#appSection th {
-moz-display:none; display:none;
}

#appSection tr.gray {
background-color:#f1f1f1;
}

#appSection td.threeColumn {
border:1px solid #cecece;
padding:1px 3px 1px 3px;
width:148px;
height:20px;
}

#iFrameWindow {
height:4000em;
}

#banner,
.topBanner,
.topWelcome,
#TopNav,
.leftNavContent,
#leftNavTitle,
.leftDynaMenu { -moz-display:none; display:none; }

.centerContent { -moz-display:block; -moz-position:absolute; -moz-top:0; -moz-left:0; display:block; }
.centerContent_PG { -moz-display:block; -moz-position:absolute; -moz-top:0; -moz-left:0; display:block; }
* html .centerContent_PG { width:750px; }
*:first-child+html .centerContent_PG { width:800px; }
