
.aligned
{
	z-index:10;
	width: 14em;
	font-size: 10pt;
	float: left;
	font-weight: bold;
	text-align: left;
	margin-right:.5em;
	display: block
}
.mailAligned{
	z-index:10;
	width: 12em;
	font-size: 10pt;
	float: left;
	font-weight: bold;
	text-align: left;
	margin-right:.5em;
	display: block

}
.canadaPostalAligned{

z-index:10;
	width: 11em;
	font-size: 10pt;
	float: left;
	font-weight: bold;
	text-align: left;
	margin-right:.5em;
	display: block

}
.businessAligned{
	z-index:10;
	width: 20em;
	font-size: 10pt;
	float: left;
	font-weight: bold;
	text-align: left;
	margin-right:.5em;
	display: block

}
label.boldLabel{
	z-index:10;
	font-weight: bold;
	font-size: 10pt;
}
label.idRadioLabel{
	z-index:10;
	display: inline;
	font-weight: bold;
}
span.inputFieldSpan{
	z-index:10;
	display:block;
	padding-top:5px;
}
div.inputFieldDiv{
	z-index:10;
	display:block;
	padding-top:5px;
}
ul.noBullets {
	z-index:10;
	list-style:none;
	margin:0;
	padding:0;
}
li.noBullets {
	padding:1px;
} 
div.leftDiv{
	float: left; 
	width: 44.5%;
	margin: 0% 0 1% 1%;
	padding: 0%;
}
div.rightDiv{
	float: right; 
	width: 49.5%;
	margin: 0% 0% 1% 1%;
	padding: 0%;
}
.rightDivTopPad{
	float: right; 
	width: 49.5%;
	margin: 0% 0% 1% 1%;
	padding: 0%;
	padding-top: 15px;;
}
div.mailRightDiv{
	float: right; 
	width: 52.5%;
	margin: 0% 0% 1% 1%;
	padding: 0%;
}
div.clear {
   height: 0;
   font-size: 1px;
   margin: 0;
   padding: 0;
   line-height: 0;
   clear: both;

}
hr{
	width:650;
	color:#003399;
}

select{
	margin-left: -0px;
}

P.sowww{
	text-align: left;
}


