@charset "UTF-8";
.TabbedPanels { margin-top:10px; float:left; background:url("../images/back.gif") repeat-x top left; width:612px; *width:600px; line-height:17px; }
.TabbedPanelsTabGroup { margin:0px; padding:0px; list-style:none; }
.TabbedPanelsTab { display:block; float:left; background:url("../images/tabs.gif") no-repeat left top; position:inherit; top:1px; margin:0; padding:0 0 0 9px; color:#004275; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.TabbedPanelsTabHover { float:left; background:url("../images/tabs.gif") no-repeat left -27px; margin:0; padding:0 0 0 9px; color:#004275; }
.TabbedPanelsTab a { display:-moz-inline-block; display:inline-block; background:url("../images/tabs.gif") no-repeat right top; padding:5px 20px 5px 6px; text-transform:uppercase; text-decoration:none; font-weight:bold; color:#004275; }
.TabbedPanelsTab a:hover { background:url("../images/tabs.gif") no-repeat right -27px; color:#004275; }
.TabbedPanelsTabSelected { background:url("../images/tabs.gif") no-repeat left -27px; }
.TabbedPanelsTabSelected a { background:url("../images/tabs.gif") no-repeat right -27px; color:#004275; }
.TabbedPanelsContentGroup { clear:both; border-left:solid 1px #cccccc; border-bottom:solid 1px #cccccc; border-right:solid 1px #cccccc; margin:12px 0; *margin:0; background-color:#FFFFFF; color:#525252; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.TabbedPanelsContent { padding:5px 15px; *padding:5px; }
.TabbedPanelsContentVisible { }

